@require 'components/button.styl'
@require 'settings/breakpoints.styl'

// Desktop Button
.coz-btn-client
    @extend $button-client
    margin 1rem

    +medium-screen()
        display none

// Banner
.coz-banner-client
    position relative

    +small-screen('min')
        margin-top     -1.875rem
        margin-bottom  1.875rem
