@require 'components/button.styl'

.SupportUs__wrapper
    margin-left 1.5rem
    margin-right 1.5rem
    margin-bottom 1.5rem
.Supportus__button
    display flex
    height 2rem
    margin-left 0
    margin-right 0
.SupportUs__description
    color var(--coolGrey)
    font-style italic
