@require 'cozy-ui'

.wizard
    display flex
    flex-direction column
    min-height 100vh
    width   90vw
    padding 0 5vw
    background-color white
    color            black
    text-align center

    .logo-wrapper
        max-width     3.5em
        height        3.5em
        margin        0 auto 3em auto
        padding       1.25em
        border-radius 50%
        box-shadow    0 1px 3px rgba(50, 54, 63, .19), 0 4px 12px rgba(50, 54, 63, .12)

        &.error
            background #f52d2d

    .wizard-main
        margin auto

    .title
        margin    .25em auto
        font-size 1.5em

    .wizard-footer
        display flex
        flex-direction column
        margin-bottom 1.5em

        > [role='button']
            margin-bottom 1.5em

        > .link
            margin          0 .5em
            text-align      left
            text-decoration none
            color           #297ef2

    .wizard-button--with-circles
        margin-bottom 10px

    .wizard-circles
        display flex
        margin-bottom 5px
        justify-content center

    .wizard-circles__circle
        width 15px
        height 15px
        margin 0 5px
        background rgba(0,0,0,.3)
        border-radius 50px
        transition all .3s ease

    .wizard-circles__circle--active
        bacground #297ef2

.welcome .logo-wrapper
    background #297ef2

.cozy-logo-white
    height  3.5em
    background embedurl("../assets/icons/icon-cozy.svg") center no-repeat
    background-size 3.5em

.activation
    img
        width 200px
        height 200px
        margin 0 auto

.breadcrumb
    display inline

    span
        margin 0 5px
