@require 'cozy-ui'

.wizard
    background-color #33A6FF
    color white
    height 100vh
    top-padded(30px)
    display flex
    flex-direction column
    align-content stretch
    padding 1em
    text-align center

    button
        position: fixed;
        bottom: 40px;
        left: 30px;
        right: 30px

.welcome
    background-color white

    img
        width 200px
        height 200px
        margin 0 auto

    .big-icon-container
        flex 1 1 100vw

    h1
        flex 1 1 100vw
        color #748192
