@require 'cozy-ui'

.fil-content-row
    width           100%
    border-bottom   1px solid grey-09


.settings
    margin 0 1em

    .settings__subcategory-title
        display       block
        margin-bottom 0
        font-weight   normal

    .settings__subcategory
        display flex

    .settings__subcategory__label
        color       gray
        font-size(12px)

    .settings__subcategory__item
        flex-grow  1
        text-align right

    .settings__button-danger
        @extend $button
        width 100%
        margin 0
        color pomegranate
        border-color pomegranate

.media-uploading
    @extend $icon-16
    @extend $icon-spinner-blue
    margin-left 0.5em
