@require 'cozy-ui'

.fil-content-row
    width           100%
    border-bottom   1px solid grey-09


.settings
    margin 0 1em

    .settings__subcategory-title
        display       block
        margin-bottom 0
        font-weight   normal

    .settings__subcategory
        display flex

    .settings__subcategory__label
        color       gray
        font-size(12px)

    .settings__subcategory__item
        flex-grow  1
        text-align right

