@require 'tools/mixins'
@require 'settings/palette'
@require 'components/alerts'

.coz-alerter
    @extend $alerts

.coz-btn
    @extend $button

.coz-btn--alert-error
    @extend $button-alert--error

.coz-btn--alert-info
    @extend $button-alert--info

.coz-btn--alert-success
    @extend $button-alert--success