@require 'cozy-ui'
@import '../../styles/mimetypes'

.upload-queue
    @extend $popover
    position fixed
    bottom   .5rem
    right    1.5rem
    height   13.125rem
    width    30rem
    max-width 90%
    border   1px solid silver
    border-radius    4px
    background-color white
    display          flex
    flex-direction   column
    transition       0.5s
    opacity          0
    visibility       hidden
    transform        translateY(300px)

.upload-queue--visible
    opacity    1
    visibility visible
    transform  translate(0)

.upload-queue-header
    background-color paleGrey
    color            charcoalGrey
    font-weight      bold
    margin           0
    padding          .5rem 1rem .5rem

    .upload-queue-header-inner
        display flex
        justify-content space-between
        align-items center

    .btn-close
        border 0
        background 0
        margin 0
        padding .4em 0 .4em .8em
        color dodgerBlue
        text-transform uppercase
        font-size .8em

progress.upload-queue-progress
    -webkit-appearance none
    -moz-appearance    none
    border     none
    display    block
    width      100%
    height     .125rem
    margin     0

progress.upload-queue-progress::-webkit-progress-bar
    background-color silver
progress.upload-queue-progress::-webkit-progress-value
    background-color dodgerBlue
progress.upload-queue-progress::-moz-progress-bar
    background-color dodgerBlue

.upload-queue-content
    overflow auto

.upload-queue--collapsed
    height 2.5rem

    .upload-queue-content
        visibility none

.upload-queue-list
    flex      1 1 auto
    display   flex
    flex-direction column

.upload-queue-item--error
    background-color rgba(245, 44, 44, 0.1)

.upload-queue-item--done
    background-color paleGrey

.upload-queue-item
    height          50px
    box-sizing      border-box
    display         flex
    flex-direction  row
    align-items     center
    flex            0 0 auto
    width           100%
    max-width       'calc(100vw - %s)' % 13.75rem
    border-bottom   1px solid silver

    .item-cell
        box-sizing  border-box
        padding     .9375rem 2rem
        font-size   14px

    .item-cell.item-file
        padding-left   3.75rem
        font-size      16px
        line-height    1.3
        white-space    nowrap
        overflow       hidden
        text-overflow  ellipsis
        color          charcoalGrey

    .item-file
        flex        0 0 85%
        user-select none
        background-position .9375rem center
        background-repeat no-repeat

    mime-types('item-type-', '../../assets/icons/')

    .item-ext
        color coolGrey

    .item-status
        flex       0 0 15%
        text-align center

    .item-pending
        text-transform uppercase
        color          dodgerBlue
        font-size      .75rem
        font-weight    bold
        line-height    2em

    .item-loading
        @extend $icon-16
        @extend $icon-spinner-blue

    .item-canceled
        @extend $icon-16
        @extend $icon
        background-image embedurl('./assets/icons/icon-cross.svg')

    .item-failed
        @extend $icon-16
        @extend $icon
        background-image embedurl('./assets/icons/icon-warning.svg')

    .item-conflict
        @extend $icon-16
        @extend $icon
        background-image embedurl('./assets/icons/icon-warning.svg')

    .item-loaded
        @extend $icon-16
        @extend $icon
        background-image embedurl('./assets/icons/icon-checked.svg')

@media (max-width: (1023/basefont)rem)
    // we need to cover the border-bottom of the cozy-bar
    $coz-bar-size = 48px
    $coz-bar-border-size = 1px

    .upload-queue
        top $coz-bar-size
        bottom auto
        right 0
        left 0
        transform none
        z-index $app-index + 3
        width 100%
        max-width 100%
        height auto
        max-height 0
        border-radius 0
        border 0
        background-color white
        box-shadow none

        &:before
            position fixed
            top $coz-bar-size - $coz-bar-border-size
            z-index  $nav-index
            width 100%
            height $coz-bar-border-size
            content ''
            background white

    .upload-queue--visible
        max-height 30%

    .upload-queue-content
        display none

    .upload-queue-header
        background 0
        color dodgerBlue
        text-transform uppercase
