language: node_js
matrix:
  fast_finish: true
node_js:
- '6'
branches:
  except:
  - build
env:
  matrix:
  - COZY_APP_SLUG=drive
  - COZY_APP_SLUG=photos
  global:
  - CXX=g++-4.8
  - secure: OLcPuglkDbRd9Xf8WmPAlAWTmdXDb+SNVc7+WKQjIap5Ej58BBTtaAYR8kzFKSWmvWWSnvKmOYJfOHvWIOfkzlwhGLnk/xUnCCsjWmWNjOmnL5x74gCbfEgyU+rIwr2c4/hpzjcywTVBIhL4l/Bxjn+Op+NepKYMNTKko9qB7fA+nDglX/t3VObC9kEXwXElOOgLHNpbfQLEJxdEqXm8hVMmfjA/wSQnX96GqWhKWqMMPyjAxwkxYXFa04AgeTV3C8y4x7YxiuaE8cKZfi+DYX8DyV0XdBVKJTBKTGEaTbotewmXf7F+zsZ6Rg46HvQskSmckMqMKzZfGLFKsVELt6wyNVdVwptWXfu9o2FrXvvHj1krOltN5kQPKLwSmQH4RSlekQ+JYpRN4e+w4dNazILk1pAMu7+EqBTdH5khkDxeA1LAfFVuZz3QP1/fczF/PXSMsaQa779XXKf8dsEP5S8dHjpCOLSI506E+sWa/tu1mSZoaL+jGPovhiygsPUjbjqUmim3Dz+22y2E8jGrEeIdTEcoDXrvjcqwSNvs2LXlgOtgjxP47Fb3Enk18BUpVL2LMTmwF8FbglfKOTOFHHuhT/lQjtptT6NBu0tKi8fcJ/jj3patUj2kbqo85FYext/VrPN42uIXkDCxu9bEnyaGkBpl3qgD7F0J/gJSa10=
  - secure: e7S5xeDOf5b18HEYMytTtFvy0GGtEq5KHc9eiydOXpWKhs1Lry/yOKPteJFN5fh6uHvlg02DCbANr2vvj0O8jn37eyudHowVsKJHXm4dEl9pe9Rbd1t6CwLwEb1qiI9juIlPt05nrlFKxrRzWEsC2mtk56FMfOhdKNf43O9VOJ9avxGk+6ztmo7iJjSZRRzRzqdw9NvS6yTAEZH0KHLxfIqXTppJU7vRDYRLpQLc7qJcAbiz2YuuINB0B8SzxhzuPADhxyxys8G8aurkbOYtJcFpUTBakRd8a9djP8r2+kuU5tb0OUOTnxBf3kETOD3B01kgGfd58tU6vt+zkD3sWZGpkKRjYXb7rPePDiPKrUx/OcTS8P7MO9+pwS5z3jocHIx3DNwPSUoVBj6mH7NBn8iEXHbMhWCZllNvTWmFCsTZKJsGky3smNz5nPf7/NOmJ5cdTcIY1jtSjRHzpkrBU22bd/8Jup1Z6YTsAuws/Hb5jVxV67ojjAHfFTR8JlBv8Nbb/0iux04ghcwcvbfPMFIe11PHs4OAvB/YKJGdEL58KCEMHc6XD51eFFir0M/94y8y2Cvq0loxO7TiiI+VdI9QALU5MRLiEMhMU/xdlVtUqfvCd4CcDLDr8tf+REwe8jUo7h7shgBdi9j7ioJYgB9oeJUJYv9gYVPdbXkpFd4=
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    - deadsnakes
    packages:
    - g++-4.8
    - python3.5
cache:
  yarn: true
  directories:
  - node_modules
before_install:
- curl -fsSL https://bootstrap.pypa.io/get-pip.py | python3.5 - --user
- travis_retry pip3.5 install --user transifex-client==0.12.5
- install -m0644 .transifexrc.tpl ~/.transifexrc
- echo "password = $TX_PASSWD" >> ~/.transifexrc
script:
- yarn test
- yarn build:$COZY_APP_SLUG:browser
after_success:
- test $TRAVIS_BRANCH = "master" && yarn run deploy:$COZY_APP_SLUG -- --branch=build-$COZY_APP_SLUG
- test $TRAVIS_BRANCH = "prod" && yarn run deploy:$COZY_APP_SLUG -- --branch=latest-$COZY_APP_SLUG
