node-preset: &node # Used internally to share configuration, ignored by travis.
  language: node_js
  node_js:
    - 16
  cache:
    yarn: true
    directories:
      - node_modules
  before_install:
    - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.22.4
    - export PATH="$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin:$PATH"
branches:
  only:
    - master
    # tags
    - /^v\d+\.\d+\.\d+(\-beta.\d+)?$/
stages:
  - prebuild
  - build
jobs:
  include:
    - name: "Lint"
      stage: "prebuild"
      <<: *node
      script: yarn lint
    - name: "Unit tests node 16"
      stage: "prebuild"
      <<: *node
      node_js:
        - 16
      script: yarn test
    - &build-web
      name: "Drive web"
      stage: "build"
      <<: *node
      env:
        - COZY_APP_SLUG=drive
      before_script:
        - yarn run cozy-ci-transifex
        - scripts/decrypt.sh
      script:
        - echo 'pull langages' && echo -en 'travis_fold:start:txpull\\r'
        - yarn tx
        - echo -en 'travis_fold:end:txpull\\r'
        - echo 'build' && echo -en 'travis_fold:start:build\\r'
        - yarn build:$COZY_APP_SLUG:browser
        - echo -en 'travis_fold:end:build\\r'
        - &downcloud-cert if [ "$TRAVIS_SECURE_ENV_VARS" != "false" ]; then eval "$(ssh-agent -s)" && chmod 600 /tmp/id_rsa_travis_downcloud && ssh-add /tmp/id_rsa_travis_downcloud; fi # Needs to be inlined and not in a script to work.
        - if [ "${COZY_APP_SLUG}" == "drive" ]; then yarn bundlemon; fi
        #- echo 'create and deploy' && echo -en 'travis_fold:start:createanddeploy\\r'
        #- if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then ./scripts/create-deploy-test.sh; fi
        #- echo -en 'travis_fold:end:createanddeploy\\r'
        #- echo 'delete instance' && echo -en 'travis_fold:start:deleteinstance\\r'
        #- if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then ./scripts/delete-instance.sh; fi
        #- echo -en 'travis_fold:end:deleteinstance\\r'
      before_deploy:
        - yarn add cozy-app-publish
      deploy:
        - &deploy
          provider: script
          repo: cozy/cozy-drive
          skip-cleanup: true
          script: yarn run deploy:$COZY_APP_SLUG
          on:
            branch: master
        - <<: *deploy
          on:
            tags: true
    - <<: *build-web
      name: "Photos web"
      env:
        - COZY_APP_SLUG=photos

env:
  global:
    - MATTERMOST_CHANNEL='{"dev":"appvengers","beta":"appvengers,publication","stable":"appvengers,publication"}'
    - secure: OLcPuglkDbRd9Xf8WmPAlAWTmdXDb+SNVc7+WKQjIap5Ej58BBTtaAYR8kzFKSWmvWWSnvKmOYJfOHvWIOfkzlwhGLnk/xUnCCsjWmWNjOmnL5x74gCbfEgyU+rIwr2c4/hpzjcywTVBIhL4l/Bxjn+Op+NepKYMNTKko9qB7fA+nDglX/t3VObC9kEXwXElOOgLHNpbfQLEJxdEqXm8hVMmfjA/wSQnX96GqWhKWqMMPyjAxwkxYXFa04AgeTV3C8y4x7YxiuaE8cKZfi+DYX8DyV0XdBVKJTBKTGEaTbotewmXf7F+zsZ6Rg46HvQskSmckMqMKzZfGLFKsVELt6wyNVdVwptWXfu9o2FrXvvHj1krOltN5kQPKLwSmQH4RSlekQ+JYpRN4e+w4dNazILk1pAMu7+EqBTdH5khkDxeA1LAfFVuZz3QP1/fczF/PXSMsaQa779XXKf8dsEP5S8dHjpCOLSI506E+sWa/tu1mSZoaL+jGPovhiygsPUjbjqUmim3Dz+22y2E8jGrEeIdTEcoDXrvjcqwSNvs2LXlgOtgjxP47Fb3Enk18BUpVL2LMTmwF8FbglfKOTOFHHuhT/lQjtptT6NBu0tKi8fcJ/jj3patUj2kbqo85FYext/VrPN42uIXkDCxu9bEnyaGkBpl3qgD7F0J/gJSa10=
    - secure: e7S5xeDOf5b18HEYMytTtFvy0GGtEq5KHc9eiydOXpWKhs1Lry/yOKPteJFN5fh6uHvlg02DCbANr2vvj0O8jn37eyudHowVsKJHXm4dEl9pe9Rbd1t6CwLwEb1qiI9juIlPt05nrlFKxrRzWEsC2mtk56FMfOhdKNf43O9VOJ9avxGk+6ztmo7iJjSZRRzRzqdw9NvS6yTAEZH0KHLxfIqXTppJU7vRDYRLpQLc7qJcAbiz2YuuINB0B8SzxhzuPADhxyxys8G8aurkbOYtJcFpUTBakRd8a9djP8r2+kuU5tb0OUOTnxBf3kETOD3B01kgGfd58tU6vt+zkD3sWZGpkKRjYXb7rPePDiPKrUx/OcTS8P7MO9+pwS5z3jocHIx3DNwPSUoVBj6mH7NBn8iEXHbMhWCZllNvTWmFCsTZKJsGky3smNz5nPf7/NOmJ5cdTcIY1jtSjRHzpkrBU22bd/8Jup1Z6YTsAuws/Hb5jVxV67ojjAHfFTR8JlBv8Nbb/0iux04ghcwcvbfPMFIe11PHs4OAvB/YKJGdEL58KCEMHc6XD51eFFir0M/94y8y2Cvq0loxO7TiiI+VdI9QALU5MRLiEMhMU/xdlVtUqfvCd4CcDLDr8tf+REwe8jUo7h7shgBdi9j7ioJYgB9oeJUJYv9gYVPdbXkpFd4=
    - secure: T1sTysFC5FBYhSCROtDbz1rFH558kCf4kT2/HPIOmRA/30XCBAH/Hz/FR3AVfnReReTckDJzoO5gmUKpRxqqjgWgiO++8O+/bDC37KymTRQLptfxl7I7FMb+01FpUEdMObf5T08ejbHHtYG37aF8sk0vqaHUL3Iq6KBSooZPP+iNRyjGtpAFkDpVw9d2U/wfZitvg0FCJUIZxz7nk6jxYx6XRqoXMTSftc3WDatRxg6kJWda2FfvGRNCWG71mbGJktZ2qrd+TLpGLzmEJPY1FNWRSjdpeo87ZgHYzYoTLD5ebk6XMWgyC+lMM/SI9IulLeFYELD8mGNh7lJ4Ms3nFFCzhyhLD7ZdaNNBKNSByXaq1USDAcFwUYmhxfVG3llKE9dwyCxP/GWP/xE14O3HuALmLIq4Yc+9nbVrd5THXq6sMXcLbWfUiMTR4XqbMCkHqv66rv18FsZXOCByatliUjJbWUEjSluUcsB0wB1Z4xkbmOy4fOYVZ3JoMAYc94deqexXtDTQ03KgipPyYy7dhdivlQMEzcFars2UebkUC+h0jZlQULjFRSrZUytRIL9gja/Qsa315rfSNT74EOzO8L9vhvcsNzV9djKQYkL7OWjyhXZ8PEYZr7K1tr1iNwn5YA/XcVpsimBODyT52ZqQWHMnpKFkj4uU/CcdwVLTBf4= # REGISTRY TOKEN
    - secure: RUeeH+C5Yz3LKM/WX63NK79HnwSM3grulFbBKS4F6PZD4k1pnwV/T3pfqCcUZRvyWX7937aWqO4qD2kXRWd1T+I6wffA9H74SlsJcNFPWd6iBDGMh0uGTrJuUiimXd4hG2cFuRMF5dKmyn2P/2ncCcF3hgpntmoWVBj62YhD9CpbS/oxeUZluo4cHoQPaFvxLCYq7lLK372WCPpH2HwElkCL7lnPX1/ESJ+whgnwe+5g+XHWrsPkNIufqltBHz8Q2vIwjI7qPInS45CNutLox8fJCx4x5BAXrZjB8uNRys881HRA54KmRzdCTeq348o1DVnXo2J/poUffxELyK5TrgDJn3ZzqybnRTi5ve19I9S2HlH4MGoQ+wGys0feDPgrCkcIDm6/pNpd3EEVCxsdj69RvCTeUMoftZZRkiT4qAUKsuHGir/1of547Q/Dd6Z2KkKBrEiHbUSJIQHhYbMtdx2NIuLS7DRn9/VtW8QpySkkbPpnucCpDlhTaG65Md8to9+33yzAHjekOH5YrG1zoziZbt0ymq6JYgCMg64Gr+Gotk5j+PwIqu37T9TnqIeSim6UaznAfipXW4CmMgOvHDQj/KSfXSn0rYzW138Cw8MhoGg3bygYRBIp384UAOx9/1J3+Q0BhnYZs1TmKXPmiIul74d4DMPemVA8JhYQkB0= # MATERMOST_HOOK_URL
    - secure: lggtB/s2BGWm0f/6aqWq9KoH4PgFdrWv5fR2QUKrWjeUjPus8uTG4WDfxgRRPF4GgUIkYcboODB43A01UzgbRi2KWZjysj0W8/oKj2bt1VqMtA+G6qQMXIIZ0d1W5+x38MsEmUnDamCMQEv38xrFK9xlStIfA/dCvJg+dYBhaGDxYcdSkA3IWVHRfrFXVLol/O+V+CvpSv5vP8AkTHgiILRUEb0nJxx2Dpoeecb79Qg/lAAhUOGz51VPbhms+t+W9DmAH+El9wrbYkxCTe/tyCQXzzXwV4jspz9/QO7nODaHOERrW8ZB6zFe8R+7nvDOtflunaPaa3trt7n93bbthoDIDgOPjD1Gud2Hh7Vsp6P0yYCC3nAj1El5ueK0FIeE7TbltVZFxNqh67ULruZWC1zt1kA3WmBohZthw6f0XGiOnLD1J7O4rn9SPR6t6WFO3LSkl8/jJ250NdcWG+jl7qsF5Brk+9SSZRdFodHPx6EzggqzlKCVfduOYJnYAVf8vAeEvPaXvSdX34iHLzeG80vaanDOCWWlviLGmxojf4a9MteAJTRKwfcozQYF8yf13gtUlRPDw7eq7Fj4oRCoV0aDF5qy0V8w1zpTtPZXJ4BpNMWMMR9Hs+UlVBFwAGw+01Xdk4S1cSEgVbkl5idlUSbiDYQtiZARPQW+Z3Z/s5s= #ANDROID_KEYSTORE_PASS
    # To generate a new key: travis encrypt GH_TOKEN=<token> -r cozy/cozy-drive
    - secure: SaS/oRY5vQ1gVu7nwUB2/hml85eU7ZOveOppzjqDBSdwx+1189hPjEdOmiNhpGT2p8k5dV5RTOtEIw4dwt1FrHSo86mlb8hZgUkAWOcO/Ewfz0pZ7JW0rFgfYgIRfwHqRIkJQpDDrSekQLfHPVZe9yip+BQJ7vksWckj2G3zs6YbFCr8AbXdg++i0Ypoku+oTlqb1eqRymSbdl694LfMPA2wvHNvQhHtBPdsm+V4LUjv+fxtVadfJ52nCSgd70PuKbIhEUpGI/IvKPZ/BHXuSTfO9p3Ds5srD+SjrGl9sAxokQKbtib+tlJt6baZJe0y7BgHyG5b6apB2f2VIXyms93lH76CaYIU0mQTO1N3XplVUn/iU6oLQKi9tcttRRNy7t9I5uCBiv4NXY0qKAmR2hfmvBS4AgFEUuRG9gZts1ZYAMYVe34Hj2NXiGh4dl3qkgSEey2NiajIhcXeYTMdMeZ8W0PTmDdaH+TDfAAfU5vGqG7gzT3i7Ca/gwUH95lcFIimPC1CqIqPNV2LU60mr3PG9KnUq3yUiaalwbHu1w3f2jjPRzQs7WEbmKa5XlPzUtasB+GkS4PDBuKAWUe63BeeSX/CN4dd6rhRd4tNgi8Dc/9pTryNdUtRQXq5BBNw+Ngu/L2p9fr6mjyQby353nn9VAVNPCeW1tVkkVvGn7g= #GH_TOKEN
    - secure: 0nsxnmSyJ6981wPVo3w7L4HLN91SwcIWXFvvGlVsnWvSkzJ3anUHlWno47Ro4HR0GUDL9DUP7Xr7Gg80GF2IrmN+Yv6nrZ+luHL+TQt3nD03j/ENpQy9JtQTgWmBWMQNoKYTzlgcZqO+k3G/5gRi+Z/M+uY8XJVDRzg8vcmXBGIHnxHRzG9ObV0yxyuJfPbiDpPD+r0x0PM/St+Y32PdOApD7BWDv/jz17MVM84fpdl7e/NdFieu8sx8bokr2n7X237Qlx+pylntAdZsHFK6QRwHAwgwK/mnEBU+ch0xTGV3+em3MFIWBBD6dWUChT+8BEoXHr7F07ZfTVZHx5HyxzLGy11O/sVGGQNR5idRq6DsOmmnPukYcxahAh1iSc77W5JS7Yc+8fn6z21S4T9LW92n0+HtUzEA9rXqnBE7vlaVp0BOyeP2lPbqEAYTamGdhhlWRLhvdBgNMTJUjwM43bTp66O/MAbtw5YJ4ccSWCwffhkZ9nEPlYrMdowKzOVdKLUYZWPZ38BMSdfHoA0sGZDUFPQhHJTBXdEb/WRj9BcnOoJY5/Or4QVDhdMkjpFxPMHk4zJSFh/QQPnRNpAZuMTSJTohoUopRg+f1kEnnlzoCfozLQ4JgDBkdZYQLE9HlEVnhxFY/vbQbggmSHuBloWvonec9zH0R0bc2ETAlt8= # RUNDECK_TOKEN
