@require 'settings/breakpoints.styl'
@require 'utilities/display.styl'
@require 'settings/z-index.styl'

.u-visuallyhidden
    @extend $visuallyhidden

.dri-btn--more
    svg
        margin 0

+medium-screen()
    .dri-btn--more
        display inline-flex

+small-screen()
    button.dri-btn--more
        border           0
        margin-right     0
        height           3rem
        padding          .5rem .75rem
        opacity          .5
        background-color transparent

