@require 'cozy-ui'

.c-btn
    @extend $button

.c-btn--secondary
    @extend $button--secondary

.c-btn--more
    @extend $button--more

.c-btn-extra
    @extend $button-extra

.u-visuallyhidden
    @extend $visuallyhidden

+medium-screen()
    .dri-btn--more
        display inline-flex

+small-screen()
    .dri-btn--more
        border        0
        margin-right  0
        height        em(48px, 14px)
        opacity       .5
