@import 'cozy-ui'

.upload-queue
    @extend $popover
    position fixed
    bottom   em(8px)
    right    em(24px)
    height   em(210px)
    width    em(480px)
    max-width 90%
    border   1px solid grey-09
    border-radius    4px
    background-color white
    display          flex
    flex-direction   column
    transition       0.5s
    opacity          0
    visibility       hidden
    transform        translateY(300px)

.upload-queue--visible
    opacity    1
    visibility visible
    transform  translate(0)

.upload-queue-header
    background-color grey-10
    color            grey-08
    font-weight      bold
    margin           0
    padding          em(8px) em(16px) em(8px)

progress.upload-queue-progress
    -webkit-appearance none
    -moz-appearance    none
    border     none
    display    block
    width      100%
    height     em(2px)
    margin     0

progress.upload-queue-progress::-webkit-progress-bar
    background-color grey-09
progress.upload-queue-progress::-webkit-progress-value
    background-color dodger-blue
progress.upload-queue-progress::-moz-progress-bar
    background-color dodger-blue

.upload-queue-content
    overflow auto

.upload-queue--collapsed
    height em(40px)

    .upload-queue-content
        visibility none

.upload-queue-list
    flex      1 1 auto
    display   flex
    flex-direction column

.upload-queue-item
    height          50px
    box-sizing      border-box
    display         flex
    flex-direction  row
    align-items     center
    flex            0 0 auto
    width           100%
    max-width       'calc(100vw - %s)' % em(220px)
    border-bottom   1px solid grey-09

    .item-cell
        box-sizing  border-box
        padding     em(15px) em(32px)
        font-size   14px

    .item-cell.item-file
        padding-left   em(60px)
        font-size      16px
        line-height    1.3
        white-space    nowrap
        overflow       hidden
        text-overflow  ellipsis
        color          grey-08

    .item-file
        flex        0 0 85%
        user-select none

    .item-ext
        color grey-11

    .item-image
        background embedurl('./assets/icons/icon-type-image.svg') em(15px) center no-repeat

    .item-status
        flex       0 0 15%
        text-align center

    .item-pending
        text-transform uppercase
        color          dodger-blue
        font-size      em(12px)
        font-weight    bold
        line-height    2em

    .item-loading
        @extend $icon-16
        @extend $icon-spinner-blue

    .item-failed
        @extend $icon-16
        @extend $icon
        background-image  embedurl('./assets/icons/icon-cross.svg')

    .item-loaded
        @extend $icon-16
        @extend $icon
        background-image  embedurl('./assets/icons/icon-checked.svg')
