@import 'cozy-ui/'


.c-empty-drive
    @extend $empty
    &:before
        background-image  embedurl('../../drive/assets/icons/icon-type-folder.svg')

.c-empty-photos
    @extend $empty
    &:before
        background-image  embedurl('../../photos/assets/icons/icon-main-app.svg')

.c-trash-empty
    @extend $empty
    &:before
        background  embedurl('../../drive/assets/icons/icon-trash-big.svg') center center / contain no-repeat
        height      10rem

        +medium-screen()
            width 3.75rem
            height 5rem

.c-error
    @extend $empty
    &:before
        background-image  embedurl('../../photos/assets/icons/icon-image-broken.svg')

.c-error--share
    @extend $empty
    &:before
        background-image  embedurl('../../photos/assets/icons/icon-cloud-wrong.svg')
