@require 'settings/breakpoints'

.empty
    +medium-screen('min')
        border 2px dashed var(--borderMainColor)
        border-radius 1rem
        margin-bottom 1.5rem
        width 100%
        max-width calc(100% - 7rem)
