.onboarding-breadcrumb
    display         flex
    width           100%
    margin-top      1em
    justify-content center

    .onboarding-breadcrumb-element,
    .onboarding-breadcrumb-element-active
        height        .5em
        width         .5em
        border-radius 50%
        margin        0em .5em

    .onboarding-breadcrumb-element
        background    #d6d8da

    .onboarding-breadcrumb-element-active
        background    #297ef2
