@require 'cozy-ui'

.c-btn
    @extend $button

.c-btn--regular
    @extend $button--regular

.c-btn--secondary
    @extend $button--secondary

.feedback-form
    @extend $form

    .coz-form
        margin-top 0

.feedback-text
    box-sizing border-box
    width 100%
    min-height 12.5rem
    border .0625rem solid silver
    padding 1rem
    margin-bottom 1rem

.button-block
    text-align right

.c-btn--paperplane
    background-image embedurl('../assets/icons/icon-paperplane-white.svg')
    background-position .5rem center
    background-repeat no-repeat
    padding-left 2rem
