html {
    -webkit-user-select: none;
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    src:  url('../assets/fonts/Lato-Regular.woff2') format('woff2'),
          url('../assets/fonts/Lato-Regular.woff') format('woff');
}
@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    src:  url('../assets/fonts/Lato-Bold.woff2') format('woff2'),
          url('../assets/fonts/Lato-Bold.woff') format('woff');
}

:global
    // this weird selector is here to temporarily hide some buttons in the cozy-bar on mobile:
    // profile, connected devices, support, logout
    [role=banner] .coz-drawer--settings > div > hr:nth-child(1),
    [role=banner] .coz-drawer--settings > div > ul:not(.coz-nav-group--inactive) {
        visibility: hidden;
    }
