html {
    -webkit-user-select: none;
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    src:  url('../assets/fonts/Lato-Regular.woff2') format('woff2'),
          url('../assets/fonts/Lato-Regular.woff') format('woff');
}
@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    src:  url('../assets/fonts/Lato-Bold.woff2') format('woff2'),
          url('../assets/fonts/Lato-Bold.woff') format('woff');
}

:global
    [role=banner] .coz-bar-btn.coz-bar-burger{
        visibility hidden
        flex 0 0 .22em
    }
