@require 'cozy-ui'

.c-btn
    @extend $button

.c-btn--regular
    @extend $button--regular

.wizard
    @extend $form
    @extend $form-text
    display flex
    flex-direction column
    width   85vw
    padding 0 7.5vw
    background-color white
    color            black
    text-align center

    .wizard-header
        display         flex
        flex-direction  row
        margin-top      2em
        justify-content flex-start

        .skipLink
            padding         .5em
            cursor          pointer
            text-transform  uppercase
            text-align      right
            color           cool-grey
            margin-left     auto

    .illustration
        margin .5em auto
        height 14em
        background-size contain

    .wizard-main
        margin auto
        padding 0 .5em
        width 100%
        box-sizing border-box

    .title
        margin    .25em auto
        font-size 1.5em

    .description
        text-align center
        margin     .5em 0
        font-size  1.125rem
        max-width  25em


    .wizard-footer
        display flex
        flex-direction column
        margin-bottom 1.5em


// ASSETS

.illustration-photos
    background      embedurl("../assets/illustrations/illustration-photos.svg") center no-repeat

.illustration-analytics
    background      embedurl("../assets/illustrations/illustration-trophy.svg") center no-repeat

.illustration-files
    background      embedurl("../assets/illustrations/illustration-files.svg") center no-repeat

.illustration-contacts
    background      embedurl("../assets/illustrations/illustration-contacts.svg") center no-repeat
