@require 'cozy-ui'

.feedback-form
    @extend $form

.feedback-text
    box-sizing border-box
    width 100%
    min-height 200px
    border 1px solid silver
    padding 1em
    margin-bottom 1em

.button-block
    text-align right
