@require 'cozy-ui'

.settings
    margin 0 1em

    .settings__category
        margin 20px 0 40px

    .settings__button
        width 100%
        margin 0 0 10px

    .settings__subcategory-title
        display       block
        margin-bottom 0
        font-size(16px)

    .settings__subcategory
        display flex

    .settings__subcategory__label
        color       gray
        font-size(14px)
        line-height em(24px)
        margin 14px 0

    .settings__subcategory__item
        flex-grow  1
        text-align right
        margin-top 20px
