@require 'components/alerts.styl'
@require 'components/button.styl'

.coz-alerter
    @extend $alerts

    .coz-alert
        bottom 3rem


.btn--full-width
    @extend $button
    @extend $button--regular
    width 100%
