@require 'cozy-ui'

// Desktop Button
.coz-btn-client
    @extend $button-client
    margin em(16px, 13px)

    @media (max-width: (1023/basefont)rem)
        display none

// Banner
.coz-banner-client
    position relative

    @media (min-width: (769/basefont)rem)
        margin-top     em(-30px)
        margin-bottom  em(30px)

    .coz-btn-clientMobile
        @extend $button-client-mobile
        margin  0

        @media (min-width: (1024/basefont)rem)
            display none

    .coz-banner-text
        @extend $button-client-mobile
        margin 0
        cursor default

        @media (max-width: (1023/basefont)rem)
            display none

        span
            padding-right 2em

    .c-btn--close
        position   absolute
        right      0
        top        50%
        transform  translateY(-50%)
        margin     0
        filter     brightness(0) invert(1)
