@require 'cozy-ui'

.c-btn
    @extend $button

.c-btn--regular
    @extend $button--regular

.wizard
    @extend $form
    @extend $form-text
    display flex
    flex-direction column
    width   85vw
    padding 0 7.5vw
    background-color white
    color            black
    text-align center

    .wizard-header
        display         flex
        flex-direction  row
        margin-top      2em
        justify-content flex-start

        .button-previous
            width      2em
            height     2em
            cursor     pointer
            background-size contain
            background-position center
            background-repeat no-repeat

            &.--cross
                background-image embedurl("./assets/icons/icon-cross-grey.svg")

    .logo-wrapper
        max-width     3.5em
        height        3.5em
        margin        .5em auto 3em auto
        padding       1.25em
        border-radius 50%
        box-shadow    0 1px 3px rgba(50, 54, 63, .19), 0 4px 12px rgba(50, 54, 63, .12)

        &.error
            background pomegranate

    .wizard-main
        margin auto
        padding 0 .5em
        width 100%
        box-sizing border-box

    .title
        margin    .25em auto
        font-size 1.5em

    .description
        text-align center
        margin     .5em 0
        font-size  1.125rem
        max-width  25em

        &.error
            color pomegranate
            font-size em(12px)
            font-style italic

        &.info
            color coolGrey
            font-size em(12px)
            font-style italic

    .coz-form-label
        text-align left

    .input
        width            100%

        &::placeholder
            color   charcoalGrey
            opacity .5

        &.error
            color pomegranate
            border-color pomegranate


    .wizard-footer
        display flex
        flex-direction column
        margin-bottom 1.5em

        > .link
            margin          1.5em .5em 0em .5em
            text-align      left
            text-decoration none
            color           dodgerBlue

.select-server
    .description
        text-align left

    .description p
        margin 0

.welcome .logo-wrapper, .select-server .logo-wrapper
    background dodgerBlue


// ASSETS
.cozy-logo-white
    height  3.5em
    background embedurl("./assets/icons/icon-cozy.svg") center no-repeat
    background-size contain
