@require 'cozy-ui'

.fil-actionmenu-backdrop
    position   fixed
    z-index    $overlay
    top        0
    right      0
    bottom     0
    left       0
    display    block
    background rgba(50, 54, 63, 0.5)

.fil-actionmenu
    @extends $popover
    z-index        $file-action-menu
    position       fixed
    bottom         em(9px)
    width          "calc(100% - %s)" % em(16px)
    margin         0 em(8px)
    padding-bottom em(5px)

    hr
        margin-top 0

.fil-actionmenu-header
    padding     em(20px) em(24px) em(20px) em(20px)
    font-size   16px
    font-weight bold

.fil-actionmenu-file
    margin-left   em(19px)
    padding-left  em(45px)

.fil-action-openwith
    background embedurl("../assets/icons/icon-link-out-16.svg") em(16px) center no-repeat
.fil-action-download
    background embedurl("../assets/icons/icon-download-16.svg") em(16px) center no-repeat
.fil-action-delete
    background embedurl("../assets/icons/icon-delete-16.svg") em(16px) center no-repeat

.fil-loading
    @extend $icon-16
    @extend $icon-spinner-blue
    margin-left 0.5em
