@import 'cozy-ui'

:local
    @extend $modals

    // Should be in Cozy-uy you know
    .coz-modal-section
        border-top 1px solid grey-09
        padding    1em 1.5em .5em !important

    .coz-select-album
        height 20em
        overflow auto
