@require 'cozy-ui'

.pho-album-list
    display         flex

.pho-album
    margin  .5em 0 2em 2em

.pho-album-photo-item
    width         20em
    height        12em
    position      relative
    border-radius em(4px)
    object-fit    cover
    background    grey-10

.pho-album-title
    margin          .2em 0 .2em
    font-size       em(20px)
    color           black
    text-decoration none

.pho-album-link
    color           black
    text-decoration none

.pho-album-description
    color       grey-11
    font-weight normal
    font-size   em(14px)
    margin      0

@media (max-width: (480/basefont)rem)
    .pho-album-list
        flex-direction  column

    .pho-album
        width           100%
        margin-left     1em

    .pho-album-photo-item
        width calc(100% - 2em)
