@import 'cozy-ui'

.pho-wrapper
    @extend    $app-2panes-sticky
    border-top 1px solid grey-09

.pho-content
    top-padded(30px)

    @media (max-width: (768/basefont)rem)
        top-padded(10px)
