@require 'cozy-ui'

$coz-bar-size = 40px

.fil-path-title
    margin    0
    font-size 24px

.fil-path-link
    color           grey-11
    text-decoration none
    cursor          pointer

    .fil-path-separator
        horizontally-padded .3em

.fil-path-previous
    position   absolute
    right      100%
    top        0
    display    none
    width      $coz-bar-size
    height     $coz-bar-size - 1px//don't cover the cozy bar bottom border
    border     0
    background white embedurl('../assets/icons/icon-arrow-left.svg') center center no-repeat

.fil-path-down
    display     none
    min-width   14px
    height      10px
    margin-left 7px
    border      0
    background  embedurl('../assets/icons/icon-arrow-down.svg') center center no-repeat

.fil-path-current-name
    text-overflow ellipsis
    overflow      hidden
    white-space   nowrap

@media (max-width: (768/basefont)rem)
    .fil-path-backdrop
        position fixed
        top      0
        left     $coz-bar-size
        right    0
        z-index  $nav-index

    .fil-path-title
        display        flex
        flex-direction column-reverse
        font-size      1.3em

    .fil-path-link
    .fil-path-current
        display       flex
        align-items   center
        box-sizing    border-box
        height        $coz-bar-size
        padding       0 2.35em 0 .25em

    .fil-path-previous
        display block

    .fil-path-down
        display inline-block

    .fil-path-link
    .fil-path-separator
        display none

    .fil-path-backdrop.deployed
        bottom     0
        left       0

        .fil-path-previous
            left 0

        .fil-path-title
            background white
            z-index    $popover-index
            box-shadow 0 1px 0 0 #d6d8da, 0 6px 24px 0 rgba(50, 54, 63, .24)

        .fil-path-link
        .fil-path-current
            padding-left "calc(%s + .25em)" % $coz-bar-size

        .fil-path-link
            display flex
            color   grey-08

        .fil-path-current
            height     $coz-bar-size
            box-shadow inset 0 -1px 0 0 grey-09
