@require 'cozy-ui'

.fil-content-title
  margin 0
  font-size(24px)

.fil-inside-path
    color #95999d

.fil-inside-path
    a
     cursor: pointer

  @media (max-width: (768/basefont)rem)
      font-size(20px)
      .fil-path-hidden
        display none
