@import 'cozy-ui'

.fil-confirm-text
    left-padded(25px)
    bottom-spaced(1.3em)
    background-position     center left
    background-repeat       no-repeat

    &.icon-trash
        background-image    embedurl('../assets/icons/icon-trash.svg')

    &.icon-restore
        background-image    embedurl('../assets/icons/icon-restore.svg')

    &.icon-shared
        background-image    embedurl('../assets/icons/icon-shared.svg')

    &.icon-related
        background-image    embedurl('../assets/icons/icon-album.svg')

    &.icon-eye
        background-image    embedurl('../assets/icons/icon-eye.svg')

    &.icon-link
        background-image    embedurl('../assets/icons/icon-link.svg')

    &.icon-forbidden
        background-image    embedurl('../assets/icons/icon-forbidden-sign.svg')
