@import 'cozy-ui'

:local
    $extend form
      .coz-create-album-label
          display        block
          margin-bottom  .5em

          text-transform uppercase
          color          #92a0b2
          font-size      .75em
          padding        .55em 0

      .coz-input-text
          @extend $form-text
          @extend $form-button
