@import 'cozy-ui'

.fil-deleteconfirmation
    @extends $modals

    .coz-overlay
        z-index  1100//above the selection bar

.fil-deleteconfirmation-text
    left-padded(25px)
    bottom-spaced(1.3em)
    background-position     center left
    background-repeat       no-repeat

    &.icon-trash
        background-image    embedurl("../assets/icons/icon-trash.svg")

    &.icon-restore
        background-image    embedurl("../assets/icons/icon-restore.svg")

    &.icon-shared
        background-image    embedurl("../assets/icons/icon-shared.svg")

.fil-deleteconfirmation-buttons
    @extends $buttons
    top-spaced(2em)
    text-align      right

    button
        display     inline-block
        font-size   .9em
        left-spaced(10px)

