.iconColorPopper
    z-index 80

.iconColorPaper
    max-width 168px

.noneIconFrame
    border 1px solid var(--secondaryTextColor)

.foldercustomizer
    &-dialog
        max-height 50vh // no proper max height value in cozy-ui styleguide

    &-tabs-container
        min-height 0 // needed to have scrollbar inside the dialog

    &-icons-container
        overflow-y auto
        overflow-x hidden
