@require 'cozy-ui'

.fil-loading
  position   fixed
  top        50%
  left       50%
  text-align center
  &:before
    content     ''
    margin      auto 0
    width       em(80px)
    height      em(80px)
    @extend $icon-spinner-blue

  p
    margin-top  em(15px)
    color       grey-11
    line-height 1.5
