@require '~cozy-ui/dist/cozy-ui.min.css'
@require 'settings/breakpoints.styl'

div:focus
    outline 0

.fil-content
    padding-top 1.875rem

    +small-screen()
        padding 0

.center-layout
    display flex
    width 100%

    +medium-screen()
        min-height 100vh
        padding 0 2rem
