@import 'cozy-ui'

.pho-panel
    position          fixed
    top               0
    right             0
    bottom            0
    left              0
    z-index           $modal-index
    background-color  white

.pho-panel-form
    @extend $form
    @extend $form-text
    display         flex
    flex-direction  column
    width           100%
    height          100%

.pho-panel-header
.pho-panel-footer
    background-color  grey-10
    flex              0 0 em(50px)

.pho-panel-header
    padding-bottom 1em

    input[type=text]
        width             100%
        max-width         20em
        padding           .5em .3em .35em
        background-color  white
        font-size         1.5em

    h3
        font-size 1.5em
        margin    1em 0 0.5em

.pho-panel-footer
    padding .6em 0 0

    .pho-panel-controls
        display          flex
        justify-content  flex-end

.pho-panel-content
    flex 1 1 auto
    overflow auto
    overflow-x hidden
    width 100%

    .pho-panel-wrap
        max-width   em(1088px)
        padding 0

.pho-panel-wrap
    max-width   em(1024px)
    margin      0 auto
    padding     0 em(32px)
