@require 'cozy-ui'

:local

    .pho-section
        left-spaced(32px)

    .pho-photo
        position relative
        display  inline-block
        height   em(300px)
        background-color grey-10

        a
          vertical-align middle

    .pho-photo-item
        height       em(300px)
        margin       0 .5em .5em 0
        background   grey-01
        transition   transform .2s ease

    .pho-photo-select
        position absolute
        z-index 2
        opacity  0
        height 3em
        width 3em
        padding 1em
        cursor pointer

    .pho-photo--selected
        .pho-photo-item
            transform:scale(0.9);

    .pho-section--has-selection
        .pho-photo-select
            width 100%
            height 100%

    .pho-photo:hover
        .pho-photo-select
            opacity 1

    .pho-list-selection
        .pho-photo-select
            opacity 1
