@import 'cozy-ui'

.pho-recipient
    display flex
    flex-direction row
    align-items center
    margin-bottom 1.5em

.pho-recipient-idents
    flex 1 1 auto

.pho-recipient-status
    flex 0 0 auto
    font-size em(14px)
    color cool-grey

.pho-recipient-user
    font-size em(16px)
    font-weight bold
    line-height 1.3

.pho-recipient-url
    font-size em(14px)
    color cool-grey
    line-height 1.3
