@require 'cozy-ui'

slate-grey = #5d6165

.fil-selectionbar
    box-sizing        border-box
    position          fixed
    top               0
    left              0
    z-index           1000 // because... you know...
    display           flex
    justify-content   center
    align-items       center
    width             100%
    height            em(56px)
    background-color  slate-grey
    color             white
    font-weight       bold

    .fil-selectionbar-separator
        margin            0 .5em 0 2em
        border-radius     50%
        width             4px
        height            4px
        background-color  black

    button
        border          none
        left-padded     50px
        line-height     em(48px)
        font-size       14px
        font-weight     bold
        color           white
        text-transform  uppercase
        cursor          pointer

        &.fil-action-share
            background embedurl("../assets/icons/icon-share.svg") em(24px) center no-repeat

        &.fil-action-download
            background embedurl("../assets/icons/icon-download.svg") em(24px) center no-repeat

        &.fil-action-delete
            background embedurl("../assets/icons/icon-delete.svg") em(24px) center no-repeat

        &.fil-action-moveto
            background embedurl("../assets/icons/icon-moveto.svg") em(24px) center no-repeat

        &.fil-action-rename
            background embedurl("../assets/icons/icon-rename.svg") em(24px) center no-repeat

        &.fil-action-restore
            background embedurl("../assets/icons/icon-restore-white.svg") em(24px) center no-repeat

        &.fil-action-close
            position     absolute
            top          50%
            right        0
            background   embedurl("../assets/icons/icon-cross.svg") em(24px) center no-repeat
            text-indent  -9999px
            transform    translateY(-50%)

@media (max-width: (1023/basefont)rem)
    .fil-selectionbar
        top              auto
        bottom           em(50px)
        justify-content  flex-start
        height           em(48px)
        padding-left     1em
        padding-right    1em

        .fil-selectionbar-count span
        .fil-action-share
        .fil-action-moveto
        .fil-action-rename
            display none

        .fil-selectionbar-separator
            margin   0 0 0 1em

        button
            width         em(48px)
            padding-left  0
            color         transparent

            &.fil-action-download
            &.fil-action-delete
                opacity .5
