@require 'cozy-ui'

:local
    @extend $selectionbar

// .pho-action-album-add
//     background-image embedurl("../assets/icons/icon-album-add-active.svg")
//
//     &[disabled]
//         background-image embedurl("../assets/icons/icon-album-add.svg")
//
// .pho-action-album-remove
//     background-image embedurl("../assets/icons/icon-album-remove-active.svg")
//
//     &[disabled]
//         background-image embedurl("../assets/icons/icon-album-remove.svg")
