@import 'cozy-ui'
@import 'ui-components/selectionbar'

[role=application]
  @extend $selectionbar

.coz-action-trash
.coz-action-destroy
    background embedurl('../assets/icons/ui/icon-delete.svg') em(24px) center no-repeat
