@import 'cozy-ui'

.fil-content-table
    text-align left
    color      grey-11

.fil-content-header
.fil-content-cell
    box-sizing  border-box
    padding     em(15px) em(32px)
    font-size(14px)

.fil-content-row
    display         flex
    flex-direction  row
    align-items     center
    width           100%
    border-bottom   1px solid grey-09

    .fil-content-body &:hover
        background-color grey-10

.fil-content-file
    color grey-08

.fil-content-ext
    color grey-11

.fil-content-header
  padding         em(8px, 12px) em(28px, 12px)
  font-size(12px)
  text-transform  uppercase

.fil-content-header:first-child
  padding em(8px, 12px)

.fil-content-file-action
    display     none
    text-align  right

.fil-content-file
    flex 0 0 40%

.fil-content-header.fil-content-file
    padding-left 0

.fil-content-cell.fil-content-file
    padding-left   em(45px)
    font-size(16px)
    white-space    nowrap
    overflow       hidden
    text-overflow  ellipsis

.fil-content-file-openable
    cursor pointer

.fil-content-date
.fil-content-size
    flex 0 0 15%

.fil-content-status
    flex 0 0 25%

.fil-content-file-select
    flex       0 0 5%
    opacity    0
    min-width  em(32px)
    max-width  em(48px)
    padding    em(15px) em(8px)
    font-size(14px)
    cursor     default

    label
        cursor default

.fil-content-table-selection
    .fil-content-file-select
        opacity 1

.fil-content-row:hover
    .fil-content-file-select
        opacity 1

.fil-content-file-action
    width   em(24px)
    padding em(15px) em(8px)

.fil-file-audio
  background embedurl("../assets/icons/icon-type-audio.svg") 0 center no-repeat

.fil-file-bin
  background embedurl("../assets/icons/icon-type-binary.svg") 0 center no-repeat

.fil-file-code
  background embedurl("../assets/icons/icon-type-code.svg") 0 center no-repeat

.fil-file-files
  background embedurl("../assets/icons/icon-type-files.svg") 0 center no-repeat

.fil-file-folder
  background embedurl("../assets/icons/icon-type-folder.svg") 0 center no-repeat

.fil-file-image
  background embedurl("../assets/icons/icon-type-image.svg") 0 center no-repeat

.fil-file-pdf
  background embedurl("../assets/icons/icon-type-pdf.svg") 0 center no-repeat

.fil-file-slide
  background embedurl("../assets/icons/icon-type-slide.svg") 0 center no-repeat

.fil-file-sheet
  background embedurl("../assets/icons/icon-type-spreadsheet.svg") 0 center no-repeat

.fil-file-text
  background embedurl("../assets/icons/icon-type-text.svg") 0 center no-repeat

.fil-file-video
  background embedurl("../assets/icons/icon-type-video.svg") 0 center no-repeat

.fil-file-zip
  background embedurl("../assets/icons/icon-type-zip.svg") 0 center no-repeat

.fil-loading
    @extend $icon-spinner-blue
    @extend $icon-16
    margin-left 0.5em

@media (max-width: (768/basefont)rem)
    .fil-content-header
    .fil-content-date
    .fil-content-size
    .fil-content-status
        display none

    .fil-content-file
        flex 0 0 85%

    .fil-content-file-action
        display block
        flex 0 0 15%

    .fil-content-cell.fil-content-file
        left-padded(61px)
        background-position em(16px) center

    .fil-content-cell.fil-content-file-select
        display none
        padding em(15px) 0 em(15px) em(15px)

    .fil-content-table-selection
        .fil-content-file-select
            display  block
            flex     0 0 5%

        .fil-content-file
            flex 0 0 90%

        .fil-content-file-action
            display none
