@require 'cozy-ui'
@require './popover'

.fil-toolbar
    margin-left auto
    .coz-btn:last-child
        margin-right 0

.fil-toolbar-trash
    margin-left auto
    @extends $buttons

    .coz-btn--delete
        left-padded       44px
        right-padded      17px
        vertically-padded 12px
        background  embedurl('../assets/icons/icon-trash-danger.svg') em(16px) center no-repeat

// These styles are needed for the menu to work and come directly from bosonic's source
// TODO: find a better way for bosonic to share its styling
b-menu-button
    position relative

b-menu-button > b-listbox
    display none
    position absolute

b-menu-button[open] > b-listbox
    display block

b-item
    display block

.fil-toolbar-menu
    @extends $popover
    right 0
    padding 5px 0
    margin 0
    margin-top 1px
    min-width 220px

    a
        &.fil-action-upload
            background: embedurl("../assets/icons/icon-upload-16.svg") em(16px) center no-repeat
        &.fil-action-newfolder
            background: embedurl("../assets/icons/icon-folder-add-16.svg") em(16px) center no-repeat
        &.fil-action-select
            background: embedurl("../assets/icons/icon-checkbox-16.svg") em(16px) center no-repeat

    a.fil-action-upload,
    a.fil-action-select,
    hr // temporary while there is only select after hr
        display none


@media (max-width: (1023/basefont)rem)
    .fil-toolbar-menu
        a.fil-action-upload,
        a.fil-action-select,
        hr // temporary while there is only select after hr
            display block
