@require 'components/button.styl'
@require 'settings/breakpoints.styl'
@require 'settings/z-index.styl'
@require 'utilities/display.styl'

.fil-toolbar-files
.fil-toolbar-trash
    margin-left auto
    display     flex
