@require 'cozy-ui'

.fil-content-header
    display     flex
    align-items center
    bottom-spaced(10px)
    right-spaced(32px)
    left-spaced(32px)

@media (max-width: (768/basefont)rem)
    .fil-content-header
        height 0
        margin 0
