@require 'components/forms.styl'
@require 'settings/breakpoints.styl'
@require 'settings/z-index.styl'

.fil-topbar
    display     flex
    align-items center
    margin-bottom .625rem
    margin-right 2rem
    margin-left 2rem
    flex 0 0 auto
    min-height 2rem

    +small-screen()
        position relative
        margin-right 0
        margin-left 0
        padding-right .5rem
        padding-left .5rem
        min-height 2rem

        &.hidden-mobile
            display none
