@require 'cozy-ui'

$coz-bar-size = 48px

.fil-topbar
    display     flex
    align-items center
    bottom-spaced(10px)
    right-spaced(32px)
    left-spaced(32px)

@media (max-width: (768/basefont)rem)
    .fil-topbar
        margin   0
        position fixed
        top      0
        left     $coz-bar-size
        right    0
        z-index  $nav-index
        height   $coz-bar-size

        > h2
            font-size 1.3em
            margin    0

    .fil-topbar.mobile
        left 1em
