@require 'cozy-ui'


.pho-viewer-toolbar
    z-index     101
    display     flex
    flex-shrink 0
    width       100vw
    height      em(90px)

    &::before
        content     ''
        flex-grow   0
        width       10em
        font-size   em(14px)


.pho-viewer-toolbar-actions
    display flex
    width   100%


.pho-viewer-toolbar-close
    display         flex
    flex-grow       0
    align-items     center
    width           4.5em
    cursor          pointer
    font-weight     bold
    text-transform  uppercase


.pho-viewer-toolbar-close-cross
    width    3em
    height   3em

    &:hover,
    &:focus
        background-color alpha(black, .25)

    &::after, &::before
        content     ''
        position         absolute
        margin           .2em 1.4em
        border-radius    3px
        width            2px
        height           2.5em
        background-color white

    &::after
        transform rotate(-45deg);

    &::before
        transform rotate(45deg);


@media (max-width: (1023/basefont)rem)
    .pho-viewer-toolbar
        position            fixed
        height              em(48px)
        background-color    alpha(grey-08, .33)

        &::before
            width em(48px)

    .pho-viewer-toolbar-close
        width em(48/14)

    .pho-viewer-toolbar-close-text
        display none

    .pho-viewer-toolbar-close-cross
        margin auto
        width  1.5em
        height 1.5em

        &::after, &::before
            margin  .1em .7em
            height  em(18/14)
