@require 'cozy-ui'

:local
    @extend $selectionbar

.pho-viewer-toolbar
    z-index     101
    display     flex
    flex-shrink 0
    width       100vw
    height      em(90px)


.pho-viewer-toolbar-actions
    position          static
    z-index           0
    display           flex
    align-items       center
    justify-content   center
    width             100%
    height            auto
    background-color  transparent


.pho-viewer-toolbar-close
    position         fixed
    z-index          1
    top              0
    right            0
    display          flex
    align-items      center
    justify-content  center
    width            em(90px)
    height           em(90px)
    cursor           pointer


.pho-viewer-toolbar-close-cross
    width    3em
    height   3em

    &:hover,
    &:focus
        background-color alpha(black, .25)

    &::after, &::before
        content     ''
        position         absolute
        margin           .2em 1.4em
        border-radius    3px
        width            2px
        height           2.5em
        background-color white

    &::after
        transform rotate(-45deg);

    &::before
        transform rotate(45deg);


@media (max-width: (1023/basefont)rem)
    .pho-viewer-toolbar
        position            fixed
        height              em(48px)
        background-color    alpha(grey-08, .33)
        transition .4s opacity ease-out

        &::before
            width em(48px)

        &.--hidden
            opacity 0

    .pho-viewer-toolbar-close
        width   em(48px)
        height  em(48px)

    .pho-viewer-toolbar-close-text
        display none

    .pho-viewer-toolbar-close-cross
        margin auto
        width  1.5em
        height 1.5em

        &::after, &::before
            margin  .1em .7em
            height  em(18/14)
