@require 'settings/palette.styl'
@require 'components/popover.styl'
@require 'settings/icons.styl'
@require 'settings/breakpoints.styl'
@require 'settings/z-index.styl'


.upload-queue
    @extend $popover
    position fixed
    bottom   .5rem
    right    1.5rem
    height   13.125rem
    width    30rem
    max-width 90%
    border   .0625rem solid silver
    border-radius    .25rem
    background-color white
    display          flex
    flex-direction   column
    transition       0.5s
    opacity          0
    visibility       hidden
    transform        translateY(18.75rem)

.upload-queue--visible
    opacity    1
    visibility visible
    transform  translate(0)

.upload-queue-header
    background-color paleGrey
    color            charcoalGrey
    font-weight      bold
    margin           0
    padding          .5rem 1rem .5rem

    .upload-queue-header-inner
        display flex
        justify-content space-between
        align-items center

    .btn-close
        border 0
        background 0
        margin 0
        padding .4rem 0 .4rem .8rem
        color dodgerBlue
        text-transform uppercase
        font-size .8rem

progress.upload-queue-progress
    -webkit-appearance none
    -moz-appearance    none
    border     none
    display    block
    width      100%
    height     .125rem
    margin     0

progress.upload-queue-progress::-webkit-progress-bar
    background-color silver
progress.upload-queue-progress::-webkit-progress-value
    background-color dodgerBlue
progress.upload-queue-progress::-moz-progress-bar
    background-color dodgerBlue

.upload-queue-content
    overflow auto

.upload-queue--collapsed
    height 2.5rem

    .upload-queue-content
        visibility none

.upload-queue-list
    flex      1 1 auto
    display   flex
    flex-direction column

.upload-queue-item--error
    background-color chablis

.upload-queue-item--done
    background-color paleGrey

.upload-queue-item
    height          3rem
    box-sizing      border-box
    display         flex
    flex-direction  row
    align-items     center
    flex            0 0 auto
    width           100%
    max-width       'calc(100vw - %s)' % 13.75rem
    border-bottom   .0625rem solid silver

    .item-file
        flex        0 0 85%
        user-select none
        box-sizing  border-box
        color          charcoalGrey
        overflow hidden

    .item-ext
        color coolGrey

    .item-status
        flex       0 0 15%
        text-align center

    .item-pending
        text-transform uppercase
        color          dodgerBlue
        font-size      .75rem
        font-weight    bold
        line-height    2rem

+medium-screen()
    // we need to cover the border-bottom of the cozy-bar
    $coz-bar-size = 3rem
    $coz-bar-border-size = .0625rem

    .upload-queue
        top $coz-bar-size
        bottom auto
        right 0
        left 0
        transform none
        z-index $app-index + 3
        width 100%
        max-width 100%
        height auto
        max-height 0
        border-radius 0
        border 0
        background-color white
        box-shadow none

        &:before
            position fixed
            top $coz-bar-size - $coz-bar-border-size
            z-index  $nav-index
            width 100%
            height $coz-bar-border-size
            content ''
            background white

    .upload-queue--visible
        max-height 30%

    .upload-queue-content
        display none

    .upload-queue-header
        background 0
        color dodgerBlue
        text-transform uppercase
