@require 'cozy-ui'

// TODO: this is an overlay, we should use cozy-ui/react/Overlay
.pho-viewer-wrapper
    position        fixed
    left            0
    right           0
    top             0
    bottom          0
    z-index         $modal-index
    background      charcoal-grey
    width           100%
    height          100%
    overflow        hidden
    color           white

.pho-viewer-controls
    display         flex
    flex-direction  row
    width           100%
    height          100%

    &--expanded
        flex-direction column

        .pho-viewer-nav
            position   fixed
            margin-top 0
            top        em(90px)
            bottom     0
            width      40%

        .pho-viewer-toolbar
            background linear-gradient(to bottom, alpha(charcoal-grey, .50), alpha(charcoal-grey, .33), alpha(charcoal-grey, 0))

        .pho-viewer-canceled
            height      100%
        .pho-viewer-nav + .pho-viewer-canceled
            margin-left 20%

.pho-viewer-nav
    margin-top           em(90px)
    z-index              $modal-index + 1
    width                20%
    cursor               pointer
    background-color     transparent
    transition           .4s opacity ease-out
    opacity              0
    display              flex
    align-items          center
    justify-content      center
    flex-direction       column

    .pho-viewer-nav-arrow
        height em(70px)
        width  em(70px)
        border-radius       50%
        opacity             0.7
        background-color    charcoal-grey
        background-repeat   no-repeat
        background-position center center

    &--visible:hover
        opacity           1
        transition        none
    &--previous
        left 0
        .pho-viewer-nav-arrow
            align-self          flex-start
            margin-left         em(40px)
            background-image    embedurl('./assets/icon-arrow-left.svg')
    &--next
        right 0
        .pho-viewer-nav-arrow
            align-self          flex-end
            margin-right        em(40px)
            background-image    embedurl('./assets/icon-arrow-right.svg')

.pho-viewer-imageviewer
.pho-viewer-noviewer
.pho-viewer-audioviewer
.pho-viewer-videoviewer
.pho-viewer-pdfviewer
.pho-viewer-canceled
    position         relative
    display          flex
    margin-left      20%
    width            60%
    max-height       100%
    justify-content  center
    align-items      center
    flex-direction   column

    video
        width       100%
        max-width   500px
        height      auto

    object
        width       100%
        height      100%

    h2
        max-width   90%

    .pho-viewer-filename
        max-width     90%
        text-overflow ellipsis

.pho-viewer-imageviewer
.pho-viewer-nav + .pho-viewer-pdfviewer
.pho-viewer-nav + .pho-viewer-noviewer
.pho-viewer-nav + .pho-viewer-audioviewer
.pho-viewer-nav + .pho-viewer-videoviewer
.pho-viewer-nav + .pho-viewer-canceled
    margin-left 0

.pho-viewer-imageviewer
    flex             1 1 100%
    width            auto
    max-width        100%

    img
        display     block
        max-width   100%
        max-height  100%
        box-shadow  0 6px 24px 0 rgba(0, 0, 0, 0.5)

.pho-viewer-canceled
.pho-viewer-noviewer
.pho-viewer-audioviewer
    display flex
    justify-content  center
    align-items      center
    flex-direction   column

    &:before
        content     ''
        display     block
        margin      0 auto
        width       10rem
        height      8.75rem

.pho-viewer-canceled
    &:before
        background  embedurl('./assets/icon-cloud-wrong.svg') center center / contain no-repeat

.pho-viewer-noviewer
    &:before
        background  embedurl('./assets/icon-type-files.svg') center center / cover no-repeat
    &--bin:before
        background  embedurl('./assets/icon-type-bin.svg') center center / cover no-repeat
    &--code:before
        background  embedurl('./assets/icon-type-code.svg') center center / cover no-repeat
    &--spreadsheet:before
        background  embedurl('./assets/icon-type-sheet.svg') center center / cover no-repeat
    &--slide:before
        background  embedurl('./assets/icon-type-slide.svg') center center / cover no-repeat
    &--text:before
        background  embedurl('./assets/icon-type-text.svg') center center / cover no-repeat
    &--zip:before
        background  embedurl('./assets/icon-type-zip.svg') center center / cover no-repeat
    &--pdf:before
        background  embedurl('./assets/icon-type-pdf.svg') center center / cover no-repeat

.pho-viewer-audioviewer
    &:before
        background  embedurl('./assets/icon-type-audio.svg') center center / cover no-repeat 

@media (max-width: (1023/basefont)rem)
    .pho-viewer-imageviewer
    .pho-viewer-noviewer
    .pho-viewer-audioviewer
    .pho-viewer-videoviewer
    .pho-viewer-pdfviewer
    .pho-viewer-canceled
        margin-left      0
        width            100%

    .pho-viewer-nav-previous, .pho-viewer-nav-next
        display none

    .pho-viewer-photo img
        box-shadow none

// TODO: we shouldn't do that
:local
    @extend $selectionbar

// here we force the action buttons to stay on the right
.coz-selection-bar
    justify-content flex-end

+medium-screen()
    .coz-selectionbar
        justify-content flex-end
        padding-right   0

// here we force the action buttons to not show the label even on desktop
.pho-viewer-toolbar-actions
    button
        width         em(90px)
        overflow      hidden
        text-indent   -5000px
        padding-left  0
        color         transparent
        background-position em(12px)

.pho-viewer-toolbar
    position    fixed
    z-index     $modal-index + 1
    display     flex
    flex-shrink 0
    width       100%
    height      em(90px)
    transition .4s opacity ease-out

    &--hidden
        opacity 0

.pho-viewer-toolbar-actions
    position          static
    z-index           0
    display           flex
    align-items       center
    justify-content   flex-end
    width             100%
    height            auto
    background-color  transparent


.pho-viewer-toolbar-close
    position         fixed
    top              0
    left             0
    display          flex
    align-items      center
    justify-content  center
    width            em(90px)
    height           em(90px)
    cursor           pointer


.pho-viewer-toolbar-close-cross
    width  1.5em
    height 1.5em

    &::after, &::before
        content     ''
        position         absolute
        margin           .2em 1.4em
        border-radius    3px
        width            2px
        height           1.5em
        background-color white

    &::after
        transform rotate(-45deg);

    &::before
        transform rotate(45deg);


@media (max-width: (1023/basefont)rem)
    .pho-viewer-toolbar
        height  em(48px)

        &::before
            width em(48px)

    .pho-viewer-toolbar-close
        width   em(48px)
        height  em(48px)

    .pho-viewer-toolbar-close-cross
        margin auto

        &::after, &::before
            margin  .1em .7em
            height  em(18/14)
