@require 'components/forms.styl'
@require 'settings/palette.styl'
@require 'settings/z-index.styl'

.wizard
    @extend $form
    @extend $form-text
    position fixed
    top 0
    left 0
    height 100%
    z-index $bar-index
    display flex
    flex-direction column
    width   85vw
    padding 0 7.5vw
    background-color var(--white)
    color           var(--black)
    text-align center

    .wizard-header
        display         flex
        flex-direction  row
        margin-top      2rem
        justify-content flex-start

        .skipLink
            padding         .5rem
            cursor          pointer
            text-transform  uppercase
            text-align      right
            color           var(--coolGrey)
            margin-left     auto

    .illustration
        margin .5rem auto
        height 14rem
        background-size contain

    .wizard-main
        margin auto
        padding 0 .5rem
        width 100%
        box-sizing border-box

    .title
        margin    .25rem auto
        font-size 1.5rem

    .description
        text-align center
        margin     .5rem auto
        font-size  1.125rem
        max-width  25rem


    .wizard-footer
        display flex
        flex-direction column
        padding-bottom env(safe-area-inset-bottom)
        margin-bottom 1.5rem


// ASSETS

.illustration-photos
    background      embedurl('./assets/illustrations/illustration-photos.svg') center no-repeat

.illustration-analytics
    background      embedurl('./assets/illustrations/illustration-trophy.svg') center no-repeat

.illustration-files
    background      embedurl('./assets/illustrations/illustration-files.svg') center no-repeat

.onboarding-breadcrumb
    display         flex
    width           100%
    margin-top      1rem
    justify-content center

    .onboarding-breadcrumb-element,
    .onboarding-breadcrumb-element-active
        height        .5rem
        width         .5rem
        border-radius 50%
        margin        0 .5rem

    .onboarding-breadcrumb-element
        background    silver

    .onboarding-breadcrumb-element-active
        background    dodgerBlue
