@require 'tools/mixins'
.icon-absolute-centered {
    position absolute
    left 50%
    top 50%
    transform translate(-50%,-50%)
}

.border-selected {
    border rem(1) solid var(--dodgerBlue)
    border-radius rem(4)
}

.border-not-selected {
    border rem(1) solid var(--silver)
    border-radius rem(4)
}

.grid-item {
    width rem(76)
    height rem(76)
}
