@require 'tools/mixins'
.icon-absolute-centered {
    position absolute
    left 50%
    top 50%
    transform translate(-50%,-50%)
}

.border-selected {
    border rem(1) solid var(--dodgerBlue)
    border-radius rem(4)
}

.border-not-selected {
    border rem(1) solid var(--silver)
    border-radius rem(4)
}

.grid-item {
    width rem(80)
    height rem(80)
}


.modal-header {
    padding-left 1rem
    padding-right 1rem
    padding-top 0
    display flex
    width 100% 
    box-sizing border-box
    justify-content space-between
    align-items center
    box-shadow 0 0.5px 0 0 rgba(0, 0, 0, 0.3)
}

.modal-footer {
    padding rem(8)
    box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.06)
}