@require 'settings/z-index.styl'
@require '../../../../styles/coz-bar-size.styl'

.viewer-wrapper-with-bar
    display flex
    flex-direction column
    position absolute
    width 100%
    height 'calc(100% - %s)' % $coz-bar-size
    z-index ($bar-index - 2)
