@require 'settings/palette.styl'
@require 'settings/z-index.styl'

.container
    position relative

.suggestionsContainer
    position absolute
    top 100%
    margin-top .0625rem
    z-index $alert-index-mobile
    width 100%
    max-height 10.625rem
    overflow auto
    border .0625rem solid var(--silver)
    border-radius .25rem
    background var(--white)
    display none

.suggestionsContainerOpen
    display block

.input
    width 100%

.suggestionsList
    margin 0
    padding .625rem 0
    list-style none

.suggestion
    padding 0 .625rem .625rem .625rem

.suggestionHighlighted
    background var(--paleGrey)

.recipientsContainer
    display flex
    flex-wrap wrap
    padding .2rem .5rem
    border-radius .125rem
    border 1px solid var(--silver)
    max-height 6.75rem
    overflow auto

    &:hover
        border .0625rem solid var(--coolGrey)

    input[type=email]
        width   auto
        flex-grow 1
        padding .5rem 0
        border  none
        &:hover
        &:focus
            border none

.recipientChip
    display inline-flex
    align-items center
    flex 0 0 auto
    background-color var(--paleGrey)
    border-radius .125rem
    height 1.75rem
    line-height 1.75rem
    padding 0 .5rem
    margin .25rem .5rem .25rem 0


.removeRecipient
    border 0
    background-color transparent
    padding .15rem 0 0 0
    margin-left .3rem
    cursor pointer
    color var(--coolGrey)

    &:hover
        color var(--slateGrey)
