@require 'cozy-ui'

.shared-badge
    background-color  white
    border-radius     50%
    padding           .125rem

    &.--small
        .shared-badge-icon
            padding         .6rem
            background-size 50%
    &.--xsmall
        padding .0625rem
        .shared-badge-icon
            padding         .3rem
            background-size 60%

.shared-badge-icon
    padding              1rem
    background-image     embedurl('../assets/icon-share-white.svg')
    background-position  center
    background-repeat    no-repeat
    border-radius        50%

    &.--by-me
        background-color emerald
    &.--with-me
        background-color portage
