@require 'settings/palette.styl'

.coz-btn-shared
    border-color     emerald
    background-color emerald
    color            white
    transition all .2s ease-out

    &:focus
    &:not([disabled]):not([aria-disabled=true]):hover
        border-color malachite
        background-color malachite

.coz-btn-sharedWithMe
    border-color     lightishPurple
    background-color lightishPurple
    color            white
    transition all .2s ease-out

    &:focus
    &:not([disabled]):not([aria-disabled=true]):hover
        border-color barney
        background-color barney
