@require 'settings/palette.styl'

.coz-btn-shared
    border-color     var(--emerald)
    background-color var(--emerald)
    color            var(--white)
    transition all .2s ease-out

    &:focus
    &:not([disabled]):not([aria-disabled=true]):hover
        border-color var(--malachite)
        background-color var(--malachite)

.coz-btn-sharedWithMe
    border-color     var(--lightishPurple)
    background-color var(--lightishPurple)
    color            var(--white)
    transition all .2s ease-out

    &:focus
    &:not([disabled]):not([aria-disabled=true]):hover
        border-color var(--barney)
        background-color var(--barney)
