@require 'cozy-ui'

.coz-btn-shared
    border-color     emerald
    background-color emerald
    color            white

    &:focus
    &:not([disabled]):not([aria-disabled=true]):hover
        background-color emerald

.coz-btn-sharedWithMe
    border-color     portage
    background-color portage
    color            white

    &:focus
    &:not([disabled]):not([aria-disabled=true]):hover
        background-color portage

