@require 'settings/breakpoints.styl'
@require 'settings/palette.styl'

.pho-viewer-noviewer-cta
    position         relative
    border-radius    .5rem
    background-color rgba(255, 255, 255, .05)
    padding          1rem
    width            80%
    max-width        36rem
    margin-top       2rem

    +medium-screen()
        display none

    .pho-viewer-noviewer-cta-cross
        position absolute
        top      1rem
        right    1rem
        cursor   pointer

    h3
        margin 0 0 1.1rem

    h3:before
        content      ''
        position     relative
        top          .2rem
        width        1.5rem
        height       1.5rem
        margin-right .75rem
        display      inline-block
        background   embedurl('./icons/icon-magic-trick.svg') center center / cover no-repeat

    ul
        padding 0

    li
        list-style-type none
        margin-bottom   1rem

        &:last-child
            margin-bottom 0

        &:before
            content       ''
            position      relative
            top           .3rem
            border-radius 1rem
            width         1.5rem
            height        1.5rem
            margin-right  .75rem
            display       inline-block
            background    var(--dodgerBlue) embedurl('./icons/icon-check.svg') center center no-repeat

        a, a:hover, a:focus, a:visited
            color var(--white)
