@require 'cozy-ui'

:local
    @extend $modals

    // Should be in Cozy-uy you know
    .coz-modal-section
        box-sizing border-box
        width 30rem
        max-width 100%
        padding 1rem 0 !important

    .coz-create-album
        padding 0 1.5rem 1.5rem

    .coz-select-album
        height 17rem
        padding 1rem 1.5rem
        overflow auto
        border-top .0625rem solid silver
