@import 'cozy-ui'

:local
    @extend $modals

    // Should be in Cozy-uy you know
    .coz-modal-section
        box-sizing border-box
        width       480px
        max-width 100%
        padding 1em 0 !important

    .coz-create-album
        padding 0 1.5em 1.5em

    .coz-select-album
        height 17em
        padding 1em 1.5em
        overflow auto
        border-top 1px solid grey-09
