@require 'cozy-ui'

.pho-album-list
    display    flex
    flex-wrap  wrap
    margin     0 1em 2em 1em

.pho-album-list--thumbnails
    flex-direction column
    margin-left 0
    margin-right 0
    .pho-album
        margin .5em 0 1em 0
        width auto
    .pho-album-link
        display flex
        align-items center
        width 100%
    .pho-album-photo-item
        height 3em
        width 3em
        min-width 3em // solves a rendering bug in chrome
        margin-right 1em
    .pho-album-title
        font-weight normal
        font-size 1em
        color grey-08
    .pho-album-description
        text-align right
    .pho-album-shared
        position static
        display inline-block
        vertical-align middle
        margin-right .5em

        .pho-album-shared-icon
            padding .6em
            background-size 50%

.pho-album-list--selectable
    .pho-album-link
        cursor pointer
    .pho-album-link--disabled
        cursor not-allowed
        opacity .6

.pho-album
    margin      .5em 1em 2em 1em
    width       20em
    position    relative

.pho-album-photo-item
    width         100%
    height        12em
    border-radius em(4px)
    object-fit    cover
    background    grey-10 embedurl('../assets/icons/icon-album-fallback.svg') center center / 5rem 4rem no-repeat

.pho-album-title
    width           100%
    margin          .2em 0 .2em
    overflow        hidden
    font-size       em(20px)
    color           black
    text-decoration none
    text-overflow   ellipsis

.pho-album-link
    color           black
    text-decoration none

.pho-album-description
    width       100%
    color       grey-11
    font-weight normal
    font-size   em(14px)
    margin      0

.pho-album-shared
    position          absolute
    top               em(175px)
    right             em(10px)
    padding           em(2px)
    background-color  white
    border-radius     50%

    .pho-album-shared-icon
        padding              em(16px)
        background-image     embedurl('../assets/icons/icon-share-white.svg')
        background-position  center
        background-repeat    no-repeat
        border-radius        50%

        &.--by-me
            background-color     emerald
        &.--with-me
            background-color     portage

@media (max-width: (480/basefont)rem)
    .pho-album
        width           100%
        margin-left     1em
