@require 'components/alerts.styl'
@require 'settings/z-index.styl'

.pho-alerter
    @extends $alerts

    .coz-overlay
    .coz-alert
        // Specify z-index to bypass upload button z-index
        z-index $modal-index

