@require 'components/forms.styl'
@require 'settings/breakpoints.styl'
@require 'settings/palette.styl'

.pho-create-album-form
    @extend $form-text

    .coz-create-album-label
        display         block
        color           var(--coolGrey)
        font-size       .75rem
        line-height     1.5
        text-transform  uppercase

    .coz-inline-form
        display     flex
        align-items stretch
        width       100%

        .coz-input-text
            width        40%
            flex-grow    1

        .coz-input-text,
        .create-button
            font-size  1rem
            height     3rem
            margin-right .3rem
            align-self stretch

        .create-button
            margin-right 0
            padding-left 2.5rem
            padding-right 2.5rem

            &[aria-busy=true]
                padding-right 1rem

+medium-screen() // @stylint ignore
    .pho-create-album-form .coz-inline-form .create-button
        padding-left 1.5rem
        padding-right 1.5rem
