@require 'cozy-ui'

.pho-wrapper
    @extend    $app-2panes-sticky

.pho-content
    padding 0
    padding-top 1.875rem

    +small-screen()
        padding 0

.pho-content-wrapper
.pho-content-wrapper > [role=contentinfo]
    position        relative
    display         flex
    flex-direction  column
    flex            1 1 auto
    box-sizing      border-box
    height          auto
    overflow-x      hidden
    overflow-y      auto
