@require 'settings/breakpoints.styl'
@require 'objects/layouts.styl'

.pho-sidebar
    justify-content  space-between

.pho-content
    padding 0
    padding-top 1.875rem

    +small-screen()
        padding 0

.pho-content-wrapper
.pho-content-wrapper > [role=main] // @stylint ignore
    position        relative
    display         flex
    flex-direction  column
    flex            1 1 auto
    box-sizing      border-box
    height          auto
    overflow-x      hidden
    overflow-y      auto
