@require 'settings/breakpoints.styl'
@require 'settings/icons.styl'
@require 'settings/palette.styl'

.pho-loading
  text-align center
  &:before
    content     ''
    margin      5rem auto 0
    width       5rem
    height      5rem
    @extend $icon-spinner-blue
  &.pho-loading--grey
    &:before
      @extend $icon-spinner-grey

  &.pho-loading--white
    &:before
      @extend $icon-spinner-white

  &.pho-loading--red
    &:before
      @extend $icon-spinner-red

  h2
    font-size 1.5rem
    margin         2rem auto 0
    line-height    1.3
    color          charcoalGrey
    letter-spacing -.0125rem
  p
    margin-top  1rem
    color       coolGrey
    line-height 1.5

.pho-loading--no-margin
  &:before
    margin 0



+medium-screen()
  .pho-empty
    &:before
      width  3.4375rem
      height 3.4375rem
    h2
      margin 2rem 1.5rem 0
    p
      margin .3125rem 1.5rem 0
