@require 'cozy-ui'

.pho-loading
  text-align center
  &:before
    content     ''
    margin      em(80px) auto 0
    width       em(80px)
    height      em(80px)
    @extend $icon-spinner-blue
  &.pho-loading--grey
    &:before
      @extend $icon-spinner-grey

  &.pho-loading--white
    &:before
      @extend $icon-spinner-white

  &.pho-loading--red
    &:before
      @extend $icon-spinner-red

  h2
    font-size(24px)
    margin         em(33px) auto 0
    line-height    1.3
    color          grey-08
    letter-spacing -0.2px
  p
    margin-top  em(15px)
    color       grey-11
    line-height 1.5

.pho-loading--no-margin
  &:before
    margin 0



@media (max-width: (1023/basefont)rem)
  .pho-empty
    &:before
      width  em(55px)
      height em(55px)
    h2
      margin em(33px) 1.5em 0
    p
      margin em(5px) 1.5em 0
