@require 'cozy-ui'

.coz-nav
    @extend $nav

.coz-nav-item
    @extend $nav-item

.coz-nav-link
    @extend $nav-link

.pho-cat-photos
    background-image: embedurl("../assets/icons/icon-image.svg")
    &.active
        background-image: embedurl("../assets/icons/icon-image-active.svg")
.pho-cat-albums
    background-image: embedurl("../assets/icons/icon-album.svg")
    &.active
        background-image: embedurl("../assets/icons/icon-album-active.svg")
.pho-cat-shared
    background-image: embedurl("../assets/icons/icon-share.svg")
    &.active
        background-image: embedurl("../assets/icons/icon-share-active.svg")
.pho-cat-trash
    background-image: embedurl("../assets/icons/icon-trash.svg")
    &.active
        background-image: embedurl("../assets/icons/icon-trash-active.svg")
