@require 'cozy-ui'

[role=application]
    @extend $navigation

.pho-cat-photos
    background: embedurl("../assets/icons/icon-image.svg")
    &.active
        background-image: embedurl("../assets/icons/icon-image-active.svg")
.pho-cat-albums
    background: embedurl("../assets/icons/icon-album.svg")
    &.active
        background-image: embedurl("../assets/icons/icon-album-active.svg")
.pho-cat-shared
    background: embedurl("../assets/icons/icon-share.svg")
    &.active
        background-image: embedurl("../assets/icons/icon-share-active.svg")
.pho-cat-trash
    background: embedurl("../assets/icons/icon-trash.svg")
    &.active
        background-image: embedurl("../assets/icons/icon-trash-active.svg")
