@require 'settings/breakpoints.styl'
@require 'settings/icons.styl'
@require 'settings/palette.styl'


:local

    .pho-section
        margin-bottom  2rem

    .pho-photo-wrapper
        position relative

    .pho-section-header
        display flex
        flex-direction row
        align-items center
        position relative
        padding 0 2rem

        h3
            flex-grow 1
            padding-right 2rem

        a,
        a:visited,
        a:hover,
        a:active
            color            var(--dodgerBlue)
            text-decoration  none
            text-transform   uppercase
            cursor           pointer
            margin-left      auto

        +small-screen()
            margin-bottom  1rem
            padding 0 1rem

            h3
                padding-right 1rem

    .pho-photo
        position          absolute
        display           inline-block
        background-color  var(--paleGrey)
        margin            0 1rem 1rem 0

        a
            vertical-align middle
        +small-screen()
            margin 0 .5rem .5rem 0

    .pho-photo-item
        height       15rem
        transition   transform .2s ease

    .pho-photo-select
        position absolute
        z-index  2
        opacity  0
        height   2rem
        width    2rem
        padding  1rem
        cursor   pointer

        &[data-input=checkbox] label::before
            box-shadow 0 0 0 .1875rem rgba(0, 0, 0, .3),  inset 0 0 0 1.5rem rgba(255, 255, 255, .8)


        &[data-input=checkbox] input[type=checkbox]:checked + label::after
            background-size     1.5rem
            background-position center center

        &[data-input=checkbox] input[type=checkbox]:checked + label::before
            background-color var(--dodgerBlue)
            box-shadow       0 0 0 .1875rem var(--dodgerBlue), inset 0 0 0 1.5rem var(--dodgerBlue)

    .pho-photo--selected
        .pho-photo-item
            transform:scale(.9)

    .pho-section--has-selection
        .pho-photo-select
            box-sizing border-box
            width  100%
            height 100%
            opacity 1

    .pho-photo:hover
        .pho-photo-select
            opacity 1

    .pho-list-morebutton
        position relative
        margin-bottom 2rem

        button
            margin  0 auto
            display block
