@require 'cozy-ui'

.coz-btn-shared
    @extend $button--share
    background-image embedurl('../assets/icons/icon-share-white.svg')
    border-color     emerald
    background-color emerald
    color            white

.coz-btn-sharedWithMe
    @extend $button--share
    background-image embedurl('../assets/icons/icon-share-white.svg')
    border-color     portage
    background-color portage
    color            white
