@require 'cozy-ui'

$coz-bar-size = 48px

.pho-content-header
    display       flex
    align-items   center
    bottom-spaced(10px)
    right-spaced(32px)
    left-spaced(32px)

    @media (max-width: (768/basefont)rem)
        margin   0
        position fixed
        top      0
        left     2.5em
        right    0
        z-index  $nav-index
        height   $coz-bar-size

.pho-content-album-previous
    width        1.5em
    height       1.5em
    margin-right 1em
    background   embedurl('../assets/icons/icon-back.svg')
    cursor       pointer

    @media (max-width: (480/basefont)rem)
        width           1em
        height          1em
        background-size cover

.pho-content-title
    @extend $form-text
    margin        0
    padding-top   .1em
    overflow      hidden
    text-overflow ellipsis
    font-size(24px)

    input[type=text]
        padding 0.17em 0.3em 0.17em 0.4em
        max-width 100%

    @media (max-width: (768/basefont)rem)
       font-size(20px)

    @media (max-width: (480/basefont)rem)
       white-space   nowrap
