@require 'components/forms.styl'
@require 'settings/breakpoints.styl'
@require 'settings/z-index.styl'
@require 'styles/coz-bar-size.styl'

.pho-content-header
    display       flex
    align-items   center
    flex-shrink   0
    margin-bottom .625rem
    margin-right  2rem
    margin-left   2rem

    +small-screen()
        margin   0
        position fixed
        top      0
        left     2.5rem
        right    0
        z-index  $nav-index
        height   $coz-bar-size

        &.--hide-bar
            z-index  $bar-index


.pho-content-album-previous
    width        1.5rem
    height       1.5rem
    margin-right 1rem
    background   embedurl('../assets/icons/icon-back.svg')
    cursor       pointer

    +medium-screen()
        width           1rem
        height          1rem
        background-size cover
        align-self center
        margin-left .5rem

.pho-content-title
    @extend $form-text
    margin        0
    padding-top   .1rem
    overflow      hidden
    text-overflow ellipsis
    font-size 1.5rem

    input[type=text]
        padding .17rem .3rem .17rem .4rem
        max-width 100%

    +small-screen()
        font-size 1.25rem
        display flex
        align-items center

    +tiny-screen()
        white-space   nowrap
