<!DOCTYPE html>
<html lang="{{.Locale}}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Public Cozy Photos</title>
  {{.ThemeCSS}}
  <% if (__STACK_ASSETS__) { %>
    {{.CozyClientJS}}
    {{.CozyBar}}
  <% } %>
  <% _.forEach(htmlWebpackPlugin.files.css, function(file) { %>
      <link rel="stylesheet" href="<%- file %>">
  <% }); %>
  <% _.forEach(htmlWebpackPlugin.files.js, function(file) { %>
      <script src="<%- file %>" defer></script>
  <% }); %>
</head>

<body>

  <div
    role="application"
    data-cozy-domain="{{.Domain}}"
    data-cozy-locale="{{.Locale}}"
    data-cozy-app-name="{{.AppName}}"
    data-cozy-app-name-prefix="{{.AppNamePrefix}}"
    data-cozy-app-editor="{{.AppEditor}}"
    data-cozy-app-slug="{{.AppSlug}}"
    data-cozy-icon-path="{{.IconPath}}"
  >

</body>

</html>
