<!DOCTYPE html>
<html lang="{{.Locale}}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="robots" content="noindex, nofollow, noimageindex">
  <title>Public Cozy Photos</title>
  {{.ThemeCSS}}
  <% _.forEach(htmlWebpackPlugin.files.css, function(file) { %>
    <link rel="stylesheet" href="<%- file %>">
  <% }); %>
  <% if (__STACK_ASSETS__) { %>
    {{.CozyClientJS}}
    {{.CozyFonts}}
  <% } %>
</head>
<body>
  <div
    role="application"
    data-cozy="{{.CozyData}}"
  >
  <% _.forEach(htmlWebpackPlugin.files.js, function(file) { %>
    <script src="<%- file %>"></script>
  <% }); %>
</body>
</html>
