@require 'cozy-ui'
@import '~photos/styles/topbar'
@import '~photos/styles/toolbar.styl'

.pho-public-layout
    display flex
    flex-direction column
    width 100%
    +medium-screen()
        padding-top  3rem

.pho-content-header.--no-icon
    left 0
    padding-left .9375rem

+small-screen() // @stylint ignore
    .pho-public-layout--full
        reset()
        position absolute
        top 0
        right 0
        bottom 0
        left 0
        z-index $bar-index
        background-color var(--white)

    .pho-public-download
    .pho-public-mycozy
        display none

+small-screen('min')
    .pho-toolbar-menu
        display none
