@import 'cozy-ui'
@import '../styles/topbar'
@import '../styles/toolbar'

.pho-public-layout
    display flex
    flex-direction column
    width 100%
    top-padded(30px)

.pho-content-header.--no-icon
    left 0
    left-padded(15px)

.pho-public-download
    padding-left         em(44px, 16px)
    background-image     embedurl('../assets/icons/icon-download-16.svg')
    background-position  em(17px, 16px) center
    background-repeat    no-repeat

@media (max-width: (768/basefont)rem)
    .pho-public-download
        display none

@media (min-width: (769/basefont)rem)
    .pho-toolbar-menu
        display none
