@require 'components/avatar'
@require 'components/circle'
.bannermarkdown
    font-weight bold
    display inline-block
    img
        @extend $avatar
        @extend $circle
        width rem(16)	  
        height rem(16)	    
        min-width rem(16)	
        min-height rem(16)	
        font-size rem(7)
        vertical-align text-bottom
    
