<!DOCTYPE html>
<html lang="{{.Locale}}">
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if (__TARGET__ === 'mobile') { %>
  <script src="cordova.js" defer></script>
  <% } else if (__STACK_ASSETS__) { %>
  {{.CozyClientJS}}
  {{.CozyBar}}
  <% } %>
</head>
<div
  role="application"
  data-cozy-token="{{.Token}}"
  data-cozy-domain="{{.Domain}}"
  data-cozy-locale="{{.Locale}}"
  data-cozy-app-name="{{.AppName}}"
  data-cozy-icon-path="{{.IconPath}}"
>
