<!DOCTYPE html>
<html lang="{{.Locale}}">
<meta charset="utf-8">
<title><%= htmlWebpackPlugin.options.title %></title>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#ffffff">
<meta name="viewport" content="width=device-width, initial-scale=1">
<% _.forEach(htmlWebpackPlugin.files.css, function(file) { %>
  <link rel="stylesheet" href="<%- file %>">
<% }); %>
<% _.forEach(htmlWebpackPlugin.files.js, function(file) { %>
  <script src="<%- file %>" defer></script>
<% }); %>
<% if (__STACK_ASSETS__) { %>
{{.CozyClientJS}}
{{.CozyBar}}
<% } %>
<div
  role="application"
  data-cozy-token="{{.Token}}"
  data-cozy-domain="{{.Domain}}"
  data-cozy-locale="{{.Locale}}"
  data-cozy-app-name="{{.AppName}}"
  data-cozy-icon-path="{{.IconPath}}"
>
