<!DOCTYPE html>
<html lang="{{.Locale}}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Public Cozy Photos</title>
  <% _.forEach(htmlWebpackPlugin.files.js, function(file) {
      if (/public\//.test(file)) {
  %>
    <script src="<%- file %>" defer></script>
  <%  } %>
  <% }); %>
  <% _.forEach(htmlWebpackPlugin.files.css, function(file) {
      if (/public\//.test(file)) {
  %>
    <link rel="stylesheet" href="<%- file %>" />
  <%  } %>
  <% }); %>
  <% if (__STACK_ASSETS__) { %>
    {{.CozyClientJS}}
    {{.CozyBar}}
    <% } %>
</head>

<body>

  <div role="application" data-cozy-domain="{{.Domain}}" data-cozy-locale="{{.Locale}}" data-cozy-app-name="{{.AppName}}"
    data-cozy-app-editor="{{.AppEditor}}" data-cozy-icon-path="{{.IconPath}}">

</body>

</html>
