@require 'cozy-ui'
@import '~photos/styles/topbar'
@import '~photos/styles/toolbar'

.pho-public-layout
    display flex
    flex-direction column
    width 100%
    padding-top 1.875rem

+small-screen()
    .pho-public-layout--full
        reset()
        position: absolute;
        top 0
        right 0
        bottom 0
        left 0
        z-index $bar-index
        background-color white

.pho-content-header.--no-icon
    left 0
    padding-left .9375rem

.pho-public-download
    padding-left         2.75rem
    background-image     embedurl('../../../../src/photos/assets/icons/icon-download-16.svg')
    background-position  1.0625rem center
    background-repeat    no-repeat

+small-screen()
    .pho-public-download
        display none

+small-screen('min')
    .pho-toolbar-menu
        display none
