@require 'components/forms.styl'

.settings
    margin 0 1rem

.settings__title
    font-size      1.3rem
    margin .6rem 0

.settings__category
    margin 1.25rem 0 2.5rem

.settings__button
    width 100%
    margin 0 0 .625rem

.settings__subcategory-title
    display       block
    margin-bottom 0
    font-size 1rem

.settings__subcategory
    display flex

.settings__subcategory__label
    color       gray
    font-size .875rem
    line-height 1.5rem
    margin .875rem 0

.settings__subcategory__item
    flex-grow  1
    text-align right
    margin-top 1.25rem

.feedback-form
    @extend $form

.feedback-text
    min-height 12.5rem
    border .0625rem solid var(--dividerColor)
