@require 'settings/breakpoints.styl'
@require 'components/wizard.styl'
@require 'components/button.styl'
@require 'components/forms.styl'

// Layout
.wizard
   @extend $wizard

.wizard-wrapper
    @extend $wizard-wrapper

.wizard-header
    @extend $wizard-header

.wizard-footer
    @extend $wizard-footer

.wizard--welcome
    .wizard-wrapper
        @extend $wizard-wrapper--welcome
    .wizard-footer
        @extend $wizard-footer--welcome
    .wizard-title
        @extend $wizard-title--welcome

.wizard-main
    @extend $wizard-main

// Elements
.wizard-logo
    @extend $wizard-logo

.wizard-logo-img
    @extend $wizard-logo-img

.wizard-logo-badge
    @extend $wizard-logo-badge

.wizard-previous
    @extend $wizard-previous

.wizard-next
    @extend $wizard-next

.wizard-title
    @extend $wizard-title

.wizard-dualfield
    @extend $wizard-dualfield

.wizard-protocol
    @extend $wizard-protocol

.wizard-select
    @extend $wizard-select

.wizard-select--medium
    @extend $wizard-select--medium

.wizard-input
    @extend $wizard-input

.wizard-notice
    @extend $wizard-notice

.wizard-notice--error
    @extend $wizard-notice--error

.wizard-notice--lost
    @extend $wizard-notice--lost
