@require 'settings/palette.styl'

.fil-mobileactionmenu-file-name
    overflow hidden
    text-overflow ellipsis
    white-space   nowrap
    max-width 70%

.fil-mobileactionmenu-file-ext
    color var(--coolGrey)

.fil-mobileactionmenu-category
    padding-left rem(4)
    line-height rem(18)
