.fil-actionmenu
    hr
        margin-top 0

.fil-actionmenu-header
    padding     1.25rem 1.5rem 1.25rem 1.25rem
    font-size   1rem
    font-weight bold

.fil-actionmenu-file
    margin-left   1.1875rem
    padding-left  2.8125rem
    background-position 0 center
    background-repeat no-repeat

.fil-action-phone-download
    position relative
    background embedurl('../assets/icons/icon-phone-download.svg') 1rem center no-repeat

    [class^='toggle']
        position absolute
        top 50%
        transform translateY(-50%)
        margin-left 1rem
.fil-action-openWith
    background embedurl("../assets/icons/icon-link-out-16.svg") 1rem center no-repeat
.fil-action-download
    background embedurl("../assets/icons/icon-download-16.svg") 1rem center no-repeat
.fil-action-destroy
.fil-action-trash
    background embedurl("../assets/icons/icon-delete-16.svg") 1rem center no-repeat
.fil-action-restore
    background embedurl("../assets/icons/icon-restore.svg") 1rem center no-repeat
.fil-action-rename
    background embedurl("../assets/icons/icon-rename.svg") 1rem center no-repeat
.fil-action-share
    background embedurl("../assets/icons/icon-share-grey.svg") 1rem center no-repeat
