@require 'cozy-ui'

.fil-confirm-text
    padding-left 1.5625rem
    margin-top .5rem
    margin-bottom 1.3rem
    background-position     .2rem left
    background-repeat       no-repeat

    &.icon-trash
        background-image    embedurl("../assets/icons/icon-trash.svg")

    &.icon-restore
        background-image    embedurl("../assets/icons/icon-restore.svg")

    &.icon-shared
        background-image    embedurl("../assets/icons/icon-shared.svg")

    &.icon-referenced
        background-image    embedurl("../assets/icons/icon-album.svg")

    &.icon-forbidden
        background-image    embedurl("../assets/icons/icon-forbidden-sign.svg")

.fil-confirm-recipients
    margin-left 1rem
