@require 'cozy-ui'

// This ugly rules hide the default close button of the modal
.intentButton
    button[class*="coz-btn-modal-close"]
        display: none

.intentViewer
    iframe
        border: none
        height: 400px
        border-radius: 0.5em
        width: 100%

        @media screen and (min-width: 768px)
            width: 800px
            height: 610px // Magic heigth to show 3 row of konnectors on desktop
