@require 'objects/layouts.styl'

.fil-wrapper
    @extend    $app-2panes-sticky
    padding-left env(safe-area-inset-left)

.fil-sidebar
    justify-content  space-between
    padding-bottom env(safe-area-inset-bottom)
