@require 'settings/breakpoints.styl'

div:focus
    outline: none

.fil-content
    padding-top 1.875rem

    +small-screen()
        padding 0


    &.--working
        // we forbid clicks when loading something to avoid concurrent data fetches and consequent flash effects
        pointer-events none
