@require 'cozy-ui'

[role=application]
    @extend $navigation

.fil-cat-files
    background-image: embedurl("../assets/icons/icon-folder.svg")
    &.active
        background-image: embedurl("../assets/icons/icon-folder-active.svg")

.fil-cat-recent
    background-image: embedurl("../assets/icons/icon-clock.svg")
    &.active
        background-image: embedurl("../assets/icons/icon-clock-active.svg")

.fil-cat-shared
    background-image: embedurl("../assets/icons/icon-shared.svg")
    &.active
        background-image: embedurl("../assets/icons/icon-shared-active.svg")

.fil-cat-activity
    background-image: embedurl("../assets/icons/icon-dashboard.svg")
    &.active
        background-image: embedurl("../assets/icons/icon-dashboard-active.svg")

.fil-cat-trash
    background-image: embedurl("../assets/icons/icon-trash.svg")
    &.active
        background-image: embedurl("../assets/icons/icon-trash-active.svg")

.fil-cat-settings
    background-image: embedurl("../assets/icons/icon-settings.svg")
    &.active
        background-image: embedurl("../assets/icons/icon-settings-active.svg")

@media (max-width: (1023/basefont)rem)

    [class^='coz-nav']
        // temporary fix
        [class^='coz-nav-link']
            min-width auto
            padding 0
            flex 0 0 2.5em
        // temporary fix

        [class^='coz-spinner']:before
            width .5rem
            height .5rem
            position relative
            top em(-2px)
