@require 'components/nav.styl'
@require 'settings/breakpoints.styl'

.c-nav
    @extend $nav

.c-nav-item
    @extend $nav-item

.c-nav-link
    @extend $nav-link
    position relative

    &[disabled]
        pointer-events none

.c-nav-icon
    @extend $nav-item-icon

.c-nav-text
    @extend $nav-item-text

+medium-screen()
    .nav-spinner
        position absolute
        top .7rem
        left 60%


