@require 'cozy-ui'

.fil-sidebar
    width            13.75rem
    border-right     1px solid silver
    background-color pale-grey
    justify-content  space-between

    @media (max-width: (1023/basefont)rem)
        border-top  1px solid silver
        border-left none
