@require 'cozy-ui'
@import './mimetypes'

.fil-content-table
    position        relative
    display         flex
    flex-direction  column
    flex            1 1 100%
    height          100%
    text-align      left
    color           cool-grey

.fil-content-head
    flex 0 0 em(31px, 16px)

.fil-content-body
    flex      1 1 auto
    display   flex
    flex-direction column
    // Because it needs a height to be scrollable. Don't ask.
    height    1px
    overflow  auto

.fil-content-header
.fil-content-cell
    box-sizing  border-box
    padding     .9375rem 2rem
    font-size   14px

.fil-content-row
    height          50px
    box-sizing      border-box
    display         flex
    flex-direction  row
    align-items     center
    flex            0 0 auto
    width           100%
    border-bottom   1px solid silver

    &:hover
        background-color pale-grey
    &.fil-content-head:hover
        background-color white

.fil-content-row-selected
    background-color rgba(24, 122, 255, 0.1)
    &:hover
        background-color rgba(24, 122, 255, 0.1)

.fil-content-cell.fil-content-file
    color charcoal-grey

.fil-content-ext
    color cool-grey

.fil-content-header
    padding         em(8px, 12px) em(28px, 12px)
    font-size       12px
    text-transform  uppercase

.fil-content-header:first-child
    padding em(8px, 12px)

.fil-content-file-action
    display     none
    text-align  right

.fil-content-file
    flex        0 0 40%
    user-select none
    background-position 0 center
    background-repeat no-repeat

.fil-content-header.fil-content-file
    padding-left 0

.fil-content-cell.fil-content-file
    position       relative
    padding-left   2.8125rem
    font-size      16px
    line-height    1.3
    white-space    nowrap
    overflow       hidden
    text-overflow  ellipsis

.fil-content-file-openable
    cursor pointer

.fil-content-shared
    position    absolute
    margin-left em(-20px)
    margin-top  em(16px)

.fil-content-date
.fil-content-size
    flex 0 0 15%

.fil-content-status
    flex 0 0 25%

    .fil-content-offline
        display none
        width em(20px, 14px)
        height em(20px, 14px)
        background malachite embedurl('../assets/icons/icon-phone-download-white.svg') center center / .9em no-repeat
        border-radius 50%

.fil-content-file-select
    basefont = 14px
    flex       0 0 em(32px, basefont)
    opacity    0
    padding    .9375rem .5rem
    text-align center
    font-size  basefont
    cursor     default

    [data-input="checkbox"] label
        cursor default
        padding 0

.fil-content-row--selectable
    .fil-content-file-select
        opacity 1

.fil-content-row:hover
    .fil-content-file-select
        opacity 1

.fil-content-file-action
    width   1.5rem
    padding 0 0 0 .5rem

mime-types('fil-file-', '../assets/icons/')

.fil-file
    display flex
    flex-direction column

.fil-file-preview
    content ''
    position absolute
    left 0
    top 0
    bottom 0
    margin auto 0
    width 2rem
    height 2rem
    background-size cover
    background-position center center

.fil-file-filename
    flex 1 1 50%

.fil-file-path
    flex 1 1 1.5em
    color cool-grey
    font-size .75em
    position relative
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
    text-decoration none

    &:hover,
    &:focus
        text-decoration underline

@keyframes placeHolderShimmer
    0%
        background-position -468px 0
    100%
        background-position 468px 0

.fil-content-file-placeholder
    animation-duration        1s
    animation-fill-mode       forwards
    animation-iteration-count infinite
    animation-name            placeHolderShimmer
    animation-timing-function linear
    border-radius 3px
    background #f6f7f8
    background #eeeeee
    background linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%)
    background-size 800px 104px
    height   1.25rem
    width    67%
    position relative

@media (max-width: (1024/basefont)rem)
    .fil-content-table-selection
        .fil-content-body
            margin-bottom 3rem

    .fil-content-row
        max-width  100vw

@media (max-width: (768/basefont)rem)
    .fil-content-head
    .fil-content-date
    .fil-content-size
        display none

    .fil-content-body
        max-height  100%

    .fil-content-file
        flex 1 1 auto

    .fil-content-status
        display    block
        flex       0 0 em(30px, 14px)
        padding    0 0 0 1em

        .fil-content-offline
            display inline-block

    .fil-content-file-action
        display    block
        flex       0 0 em(46px, 14px)
        padding    0

    .fil-content-cell.fil-content-file
        padding-left 3.8125rem
        background-position 1rem center

    .fil-content-cell.fil-content-file-select
        display none
        padding .9375rem 0 .9375rem .9375rem

    .fil-content-row--selectable
        .fil-content-file-select
            display  block
            flex     0 0 5%

        .fil-content-file
            flex 0 0 90%

        .fil-content-file-action
            display none

    .fil-file-preview
        left 1rem
