@require 'settings/breakpoints.styl'
@require 'settings/palette.styl'
@import './mimetypes'

.fil-content-table
    position        relative
    display         flex
    flex-direction  column
    flex            1 1 100%
    height          100%
    text-align      left
    color           coolGrey

.fil-content-head
    flex 0 0 2rem

.fil-content-body
    flex      1 1 auto
    display   flex
    flex-direction column
    overflow  auto

.fil-content-header
.fil-content-cell
    box-sizing  border-box
    padding     .9375rem 2rem
    font-size   .875rem

.fil-content-row
    height          3rem
    box-sizing      border-box
    display         flex
    flex-direction  row
    align-items     center
    flex            0 0 auto
    width           100%
    border-bottom   .0625rem solid silver

    &:hover
        background-color paleGrey
    &.fil-content-head:hover
        background-color white

    &--center
        justify-content center

.fil-content-row-selected
    background-color rgba(24, 122, 255, 0.1)
    &:hover
        background-color rgba(24, 122, 255, 0.1)

.fil-content-ext
    color coolGrey

.fil-content-header
    padding         .5rem 1.75rem
    font-size       .75rem
    text-transform  uppercase

.fil-content-header:first-child
    padding .5rem

.fil-content-file-action
    display     none
    text-align  right

.fil-content-file
    flex        0 0 40%
    user-select none
    background-position 0 center
    background-repeat no-repeat

.fil-content-header.fil-content-file
    padding-left 0

.fil-content-cell.fil-content-file
    position       relative
    display flex
    align-items center
    height 100%
    padding   0 2rem 0 2.8125rem
    font-size      1rem
    line-height    1.3
    white-space    nowrap
    overflow       hidden
    
    color charcoalGrey

.fil-content-file-openable
    cursor pointer

.fil-content-shared
    position    absolute
    margin-left -1.25rem
    margin-top  1rem

.fil-content-date
.fil-content-size
    flex 0 0 15%

.fil-content-status
    flex 0 0 25%

    .fil-content-offline
        display none
        width 1.25rem
        height 1.25rem
        background malachite embedurl('../assets/icons/icon-phone-download-white.svg') center center / .9rem no-repeat
        border-radius 50%

.fil-content-file-select
    flex       0 0 2rem
    opacity    0
    padding    .9375rem .5rem
    text-align center
    font-size  .875rem
    cursor     default

    [data-input="checkbox"] label
        cursor default
        padding 0

.fil-content-row--selectable
    .fil-content-file-select
        opacity 1

.fil-content-row:hover
    .fil-content-file-select
        opacity 1

.fil-content-file-action
    width   1.5rem
    padding 0 0 0 .5rem

mime-types('fil-file-', '../assets/icons/')

.fil-file
    display flex
    flex-direction column
    justify-content center
    width 100%

.fil-file-preview
    content ''
    position absolute
    left 0
    top 0
    bottom 0
    margin auto 0
    width 2rem
    height 2rem
    background-size cover
    background-position center center

.fil-file-filename
    flex 0 0 1.3rem

.fil-file-filename-wrapper
    display table
    width   100%
    border-collapse collapse

    .fil-file-filename-and-ext
        display table-cell
        max-width 1px
        width 100%
        overflow hidden
        text-overflow ellipsis
        white-space nowrap

    .fil-file-filename-spinner
        display table-cell
        white-space nowrap

.fil-file-path
    flex 0 0 1.2rem
    color coolGrey
    font-size .75rem
    position relative
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
    text-decoration none

    &:hover,
    &:focus
        text-decoration underline

@keyframes placeHolderShimmer
    0%
        background-position -29.25rem 0
    100%
        background-position 29.25rem 0

.fil-content-file-placeholder
    animation-duration        1s
    animation-fill-mode       forwards
    animation-iteration-count infinite
    animation-name            placeHolderShimmer
    animation-timing-function linear
    border-radius .1875rem
    background #f6f7f8
    background #eeeeee
    background linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%)
    background-size 50rem 6.5rem
    height   1.25rem
    width    67%
    position relative

+medium-screen()
    .fil-content-table-selection
        .fil-content-body
            margin-bottom 3rem

    .fil-content-row
        max-width  100vw

+small-screen()
    .fil-content-head
    .fil-content-date
    .fil-content-size
        display none

    .fil-content-body
        max-height  100%

    .fil-content-file
        flex 1 1 auto

    .fil-content-status
        display    block
        flex       0 0 1.875rem
        padding    0 0 0 1rem

        .fil-content-offline
            display inline-block

        .fil-content-sharestatus
            display none

    .fil-content-file-action
        display    block
        flex       0 0 2.875rem
        padding    0

    .fil-content-cell.fil-content-file
        padding-left 3.8125rem
        background-position 1rem center

    .fil-content-cell.fil-content-file-select
        display none
        padding .9375rem 0 .9375rem .9375rem

    .fil-content-row--selectable
        .fil-content-file-select
            display  block
            flex     0 0 5%

        .fil-content-file
            flex 0 0 90%

        .fil-content-file-action
            display none

    .fil-file-preview
        left 1rem
