@require 'components/button.styl'
@require 'settings/breakpoints.styl'
@require 'settings/z-index.styl'
@require 'utilities/display.styl'

.c-btn
    @extend $button

.c-btn--regular
    @extend $button--regular

.c-btn--secondary
    @extend $button--secondary

.c-btn--danger
    @extend $button--danger

.c-btn--danger-outline
    @extend $button--danger-outline

.u-hide--mob
    @extend $hide--mob

.u-hide--desk
    @extend $hide--desk

.fil-toolbar-files
.fil-toolbar-trash
    margin-left auto

.fil-toolbar-menu
    a
    label
        &.fil-action-upload
            display inline-flex
            padding-left 1rem

            svg
                margin-right .5rem
        &.fil-action-newfolder
            background embedurl('../assets/icons/icon-folder-add-16.svg') 1rem center no-repeat
        &.fil-action-download
            background embedurl("../assets/icons/icon-download-16.svg") 1rem center no-repeat
        &.fil-action-select
            background embedurl('../assets/icons/icon-checkbox-16.svg') 1rem center no-repeat
        &.fil-action-delete
            background embedurl('../assets/icons/icon-trash-dark.svg') 1rem center no-repeat
        &.fil-action-share
            background embedurl('../assets/icons/icon-share-dark.svg') 1rem center no-repeat

    .fil-action-upload
    .fil-action-share
        display none


+medium-screen()
    .fil-toolbar-menu
        display block
        left 1em
        .fil-action-upload
        .fil-action-share
        .fil-action-select
            display block

+small-screen()
    .fil-toolbar-files
    .fil-toolbar-trash
        position fixed
        top      0
        right    0
        z-index  $nav-index

    .fil-public-download
        display none

+small-screen('min')
    .fil-toolbar-menu--public
        display none
