@require 'cozy-ui'

.fil-toolbar-files
.fil-toolbar-trash
    margin-left auto

.fil-toolbar-trash
    .fil-btn--delete
        padding-left         em(44px, 16px)
        background-image     embedurl('../assets/icons/icon-trash-danger.svg')
        background-position  em(17px, 16px) center
        background-repeat    no-repeat
    .fil-btn--active
        padding-left         0
        background-image     none
        [class^='coz-spinner']
            margin-left      0
            margin-right     1rem

    .fil-toolbar-menu
        display none

.fil-toolbar-files
.fil-toolbar-trash
    .fil-toolbar-menu
        a
        label
            &.fil-action-upload
                background embedurl('../assets/icons/icon-upload-16.svg') 1rem center no-repeat
            &.fil-action-newfolder
                background embedurl('../assets/icons/icon-folder-add-16.svg') 1rem center no-repeat
            &.fil-action-download
                background embedurl("../assets/icons/icon-download-16.svg") 1rem center no-repeat
            &.fil-action-select
                background embedurl('../assets/icons/icon-checkbox-16.svg') 1rem center no-repeat
            &.fil-action-delete
                background embedurl('../assets/icons/icon-trash-dark.svg') 1rem center no-repeat
            &.fil-action-share
                background embedurl('../assets/icons/icon-share-dark.svg') 1rem center no-repeat

        .fil-action-upload
        .fil-action-share
            display none


@media (max-width: (1023/basefont)rem)
    .fil-toolbar-files
    .fil-toolbar-trash
        .fil-toolbar-menu
            display block
            .fil-action-upload
            .fil-action-share
            .fil-action-select
                display block

@media (max-width: (768/basefont)rem)
    .fil-toolbar-files
    .fil-toolbar-trash
        position fixed
        top      0
        right    0
        z-index  $nav-index

@media (max-width: (768/basefont)rem)
    .fil-public-download
        display none

@media (min-width: (769/basefont)rem)
    .fil-toolbar-menu--public
        display none
