@require 'cozy-ui'

$coz-bar-size = 48px

.fil-topbar
    display     flex
    align-items center
    margin-bottom .625rem
    margin-right 2rem
    margin-left 2rem

+small-screen()
    .fil-topbar
        display none
