@require 'cozy-ui'

.divider
    border 0
    background-color silver
    height 1px
    margin-top 0

:global
    label[for='share-toggle']
        cursor pointer

:local
    .share-modal
        max-width 33rem !important // waiting for modal size presets in cozy-ui

    .share-modal-content
        @extend $form
        @extend $form-text
        @extend $form-button
        @extend $form-select

        > div
            margin 0 1.5rem 1.5rem

    .share-modal-footer
        padding 0
        background-color paleGrey
        color            charcoalGrey
        font-weight      bold

        p
            margin 0
            padding 1rem 1.5rem

    .coz-form-group
        margin 0

        h3
          margin .3rem 0 0

        .coz-form
            margin 0

        .coz-form-desc
          color coolGrey

    .share-type-control
        display flex
        flex-direction row
        justify-content space-between
        padding 1rem 0

        select
            flex 0 0 49%

        button
            flex 0 0 49%
            margin 0

    @media (max-width 32em)
        .share-type-control
            flex-direction column

            select
                margin-bottom .5rem

    input[type=text]
        width 100%

    .input-dual
        display flex
        align-items center

        input[type=text]
            width 100%
            height 3rem

        > :first-child
            flex 2 0 1%
            padding-right .5rem

        > :last-child
            flex 0 0 6rem
            text-align right

        .coz-form-desc
            margin 0

        +tiny-screen()
            > :last-child
                flex-basis auto

    .btn-copy
        width 100%
        height 3rem
        margin 0

    .share-details-created
    .share-details-perm
        font-size            1rem
        margin               0.5rem 0 0.5rem 3rem
        padding-left         1.5rem
        background-position  0 center
        background-repeat    no-repeat

    .share-details-created
        background-image     embedurl('./assets/icon-clock-16.svg')

    .share-details-perm
        background-image     embedurl('./assets/icon-pen-16.svg')
