@require 'components/forms.styl'
@require 'components/popover.styl'
@require 'settings/breakpoints.styl'
@require 'settings/palette.styl'

.divider
    border 0
    background-color silver
    height 1px
    margin-top 0

.share-bylink-header
    display        flex
    flex-direction row
    align-items    center

    > :not(:last-child)
        margin 0
        margin-right .5rem

    > :last-child
        margin-left auto

    .share-bylink-header-dot
        height .2rem
        width  .2rem
        background-color black
        border-radius    50%
        display inline-block

    .share-bylink-header-creating
    .share-bylink-header-copybtn
        color dodgerBlue
        font-weight bold
        cursor pointer

    .share-bylink-header-copybtn
        background transparent
        border  0
        padding 0

.share-bylink-desc
    color     coolGrey
    font-size .875rem

@media (max-width 32em)
    .share-bylink-desc
        width 80%

.share-byemail-onlybylink
    background paleGrey
    padding    1rem 1.5rem
    margin 0
    border-top 1px solid silver

.share-moral-override-bottom
    padding-bottom : 0 !important

.share-modal-content
    @extend $form
    @extend $form-text
    @extend $form-button
    display flex
    flex-direction column
    flex-grow 1
    overflow: auto
    min-height: rem(400)

    > .share-byemail-onlybylink
        margin 0

    .coz-form-group
      flex-shrink 0

    .coz-form-label
        padding-top 0
        margin-top  0

    .share-modal-secondary
      overflow auto
      flex-grow 1
      padding-top: 0.5rem
      width: calc(100% + 3em)
      margin-left: -1.5em

    .share-modal-margins
        margin-left: 1.5em
        margin-right: 1.5em


    .share-modal-separator
        margin-left: -1.5em
        margin-top: rem(24)
        width: calc(100% + 3em);
        height: 1px
        background-color: silver
        

@media (max-width 32em)
    .share-modal-secondary
        > div
            margin-bottom 1.5rem

.coz-form-group
    margin 0

    h3
        margin .3rem 0 0

    h4
        margin 0 0 .3rem 0

    .coz-form
        margin 0

    .coz-form-desc
        color coolGrey

.share-type-control
    display flex
    flex-direction row
    justify-content space-between
    padding .5rem 0 0

    .select-wrapper
        flex 0 0 49%
        position relative

        .select-option
            padding .5rem 1.5rem .5rem 3rem
            position relative

            svg
                position absolute
                left 1rem
                top 1rem 
       
        
        .select-option-label
            line-height 2

        .select-option-desc
            line-height 1.5
            font-size   .8125rem
            color coolGrey

       

    button
        flex 0 0 49%
        margin 0

:global
    // dirty hack for react-select: its API doesn't allow to make change to active styles
    .react-select__option:active
        background-color paleGrey !important

    @media (max-width 32em)
        .react-select__menu
            width 100% !important

@media (max-width 32em)
    .share-type-control
        flex-direction column

        .select-wrapper
            margin-bottom .5rem

input[type=text]
    width 100%

.input-dual
    display flex
    align-items center

    input[type=text]
        width 100%
        height 3rem

    > :first-child
        flex 2 0 1%
        padding-right .5rem

    > :last-child
        flex 0 0 6rem
        text-align right

    .coz-form-desc
        margin 0

    +tiny-screen()
        > :last-child
            flex-basis auto

.btn-copy
    width 100%
    height 3rem
    margin 0

.permission-required-popin
    @extend $popover
    display flex
    flex-direction column
    position relative
    line-height 1.25rem
    margin-top .25rem

    .permission-required-popin-close
        position absolute
        top 0
        right .9375rem
        margin 0
        padding 0
        background-size .875rem
        background-color transparent
        cursor pointer
        display block
        width .875rem
        height .875rem
        z-index $modal-index

    h4
        font-size .875rem
        margin 1.5rem 1rem 0 1rem
    p
        font-size .875rem
        margin 0 1rem 1rem 1rem

    .permission-required-popin-accept
        color white
        margin 0 1rem 1.5rem 1rem

.share-details-created
.share-details-perm
    font-size            1rem
    margin               0.5rem 0 0.5rem 3.5rem
    padding-left         1.5rem
    background-position  0 center
    background-repeat    no-repeat

.share-details-created
    background-image     embedurl('./assets/icons/icon-calendar-16.svg')

.share-details-perm
    background-image     embedurl('./assets/icons/icon-pen-16.svg')
    margin-bottom .2rem

.share-details-perm-desc
    font-size     .875rem
    margin        0 0 0.5rem 3.5rem
    padding-left  1.5rem
    line-height   1.5
    color         coolGrey
